<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: PrEP has been approved in South Africa	</title>
	<atom:link href="http://studio256.gitlab.io/men2men/prep-has-been-approved-in-south-africa/feed/" rel="self" type="application/rss+xml" />
	<link>http://studio256.gitlab.io/men2men/prep-has-been-approved-in-south-africa/</link>
	<description></description>
	<lastBuildDate>Thu, 10 Dec 2015 11:27:24 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
