<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Living Positively &#8211; Men2Men by OUT</title>
	<atom:link href="http://studio256.gitlab.io/men2men/ufaq-category/living-positively/feed/" rel="self" type="application/rss+xml" />
	<link>http://studio256.gitlab.io/men2men/</link>
	<description></description>
	<lastBuildDate>Tue, 11 Feb 2020 13:05:41 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Andy&#8217;s (31) question: I&#8217;ve just met this guy and he is incredible! I have an instant connection with him and I can see us living together etc. However, I am negative and he is positive. What can I do to make this safe for me and him? Obviously using condoms etc. but what about oral sex and what happens if he cuts himself or whatever. I am a little scared but I am not going to let HIV come between me and this amazing man! I just want to be more informed.</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/andys-31-question-ive-just-met-this-guy-and-he-is-incredible-i-have-an-instant-connection-with-him-and-i-can-see-us-living-together-etc-however-i-am-negative-and-he-is-positive-what-can-i-d/</link>
				<pubDate>Tue, 11 Feb 2020 13:05:41 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=701</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: Being a discordant couple does not mean that the relationship is doomed. There are a lot of very happy and &#8216;safe&#8217; discordant&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/andys-31-question-ive-just-met-this-guy-and-he-is-incredible-i-have-an-instant-connection-with-him-and-i-can-see-us-living-together-etc-however-i-am-negative-and-he-is-positive-what-can-i-d/">Andy&#8217;s (31) question: I&#8217;ve just met this guy and he is incredible! I have an instant connection with him and I can see us living together etc. However, I am negative and he is positive. What can I do to make this safe for me and him? Obviously using condoms etc. but what about oral sex and what happens if he cuts himself or whatever. I am a little scared but I am not going to let HIV come between me and this amazing man! I just want to be more informed.</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><strong>Dr Dick&#8217;s response:</strong></p>
<p>Being a discordant couple does not mean that the relationship is doomed. There are a lot of very happy and &#8216;safe&#8217; discordant couples out there. I usually tell people to find creative ways to keep each other fulfilled and safe. Oral sex is considered a low risk activity, but there is some risk nonetheless because of</p>
<ul>
<li>the presence of pre-cum (which has been found to contain small traces of HIV);</li>
<li>the possibility of microscopic tears in your mouth (on your gums, between your teeth, under your tongue, at the back of your throat, or on the inside of your cheeks – which can act as an invitation for the infection to enter into your body); and</li>
<li>the unpredictability of reaching orgasm (he may just cum without warning giving you little time to withdraw his penis from your mouth).</li>
</ul>
<p>The decision is yours, but I would suggest using flavoured condoms or flavoured dental dams &#8211; which can be a lot of fun. Obviously anal intercourse carries a higher degree of risk. If your partner is a top and you a bottom, be sure that condoms are used correctly and consistently and that a water-based lube is used in order to minimise friction and breakage. And if he were to cut himself somehow I would suggest that without making too much of a fuss, minimise direct contact with that area or his blood. Keep gloves, disinfectant, plasters, bandages etc nearby just for in case. It is all about learning the facts, allaying your anxiety, and enjoying each other.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/andys-31-question-ive-just-met-this-guy-and-he-is-incredible-i-have-an-instant-connection-with-him-and-i-can-see-us-living-together-etc-however-i-am-negative-and-he-is-positive-what-can-i-d/">Andy&#8217;s (31) question: I&#8217;ve just met this guy and he is incredible! I have an instant connection with him and I can see us living together etc. However, I am negative and he is positive. What can I do to make this safe for me and him? Obviously using condoms etc. but what about oral sex and what happens if he cuts himself or whatever. I am a little scared but I am not going to let HIV come between me and this amazing man! I just want to be more informed.</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Danny&#8217;s (43) Question: Dear Dr Dick. I am HIV-positive and I am adhering to my ARV treatment. In which other ways can I stay healthy?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/dannys-43-question-dear-dr-dick-i-am-hiv-positive-and-i-am-adhering-to-my-arv-treatment-in-which-other-ways-can-i-stay-healthy/</link>
				<pubDate>Tue, 11 Feb 2020 13:04:58 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=700</guid>
				<description><![CDATA[<p>Dr Dick’s response: There are a few ways in which you can stay healthy. These include regular exercise, healthy eating and following a protein-rich diet&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/dannys-43-question-dear-dr-dick-i-am-hiv-positive-and-i-am-adhering-to-my-arv-treatment-in-which-other-ways-can-i-stay-healthy/">Danny&#8217;s (43) Question: Dear Dr Dick. I am HIV-positive and I am adhering to my ARV treatment. In which other ways can I stay healthy?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: There are a few ways in which you can stay healthy. These include regular exercise, healthy eating and following a protein-rich diet and supplementing your daily nutrition by taking a multi-vitamin. Try to avoid social habits such as drinking alcohol, smoking and using other substances.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/dannys-43-question-dear-dr-dick-i-am-hiv-positive-and-i-am-adhering-to-my-arv-treatment-in-which-other-ways-can-i-stay-healthy/">Danny&#8217;s (43) Question: Dear Dr Dick. I am HIV-positive and I am adhering to my ARV treatment. In which other ways can I stay healthy?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Fritz&#8217;s (33) Question: I am HIV-positive and currently on treatment. However, I find it difficult to take my medication every day and sometimes I forget. What are possible ways to help me adhere to my treatment?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/fritzs-33-question-i-am-hiv-positive-and-currently-on-treatment-however-i-find-it-difficult-to-take-my-medication-every-day-and-sometimes-i-forget-what-are-possible-ways-to-help-me-adhere-to-m/</link>
				<pubDate>Tue, 11 Feb 2020 13:04:32 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=699</guid>
				<description><![CDATA[<p>Dr Dick’s response: It is very important to take your medication at the same time intervals every day. One can be creative in finding ways&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/fritzs-33-question-i-am-hiv-positive-and-currently-on-treatment-however-i-find-it-difficult-to-take-my-medication-every-day-and-sometimes-i-forget-what-are-possible-ways-to-help-me-adhere-to-m/">Fritz&#8217;s (33) Question: I am HIV-positive and currently on treatment. However, I find it difficult to take my medication every day and sometimes I forget. What are possible ways to help me adhere to my treatment?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: It is very important to take your medication at the same time intervals every day. One can be creative in finding ways to remind you to take your medication. Some of these include: setting reminders on your phone and setting your alarm clock, keeping sticky notes where you can see them (but not necessarily others) and creating a routine for yourself.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/fritzs-33-question-i-am-hiv-positive-and-currently-on-treatment-however-i-find-it-difficult-to-take-my-medication-every-day-and-sometimes-i-forget-what-are-possible-ways-to-help-me-adhere-to-m/">Fritz&#8217;s (33) Question: I am HIV-positive and currently on treatment. However, I find it difficult to take my medication every day and sometimes I forget. What are possible ways to help me adhere to my treatment?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
