.customify-mt-divider {border-bottom: 1px solid #eee;border-top: 1px solid #eee;display: block;padding: 7px 12px;margin-top: 15px;margin-left: -12px;margin-right: -12px;font-weight: 600;}
#customify_page_settings .inside {padding: 0px;margin-top: 0px;}
.customify-mt-media {display: block;}
.customify-mt-media .customify--add {display: inline-block;}
.customify-mt-media .customify--remove {display: none;}
.customify-mt-media .customify-mt-media-preview {display: block;}
.customify-mt-media .customify-image-preview img {max-width: 100%;height: auto;}
.customify-mt-media.attachment-added .customify--add {display: none;}
.customify-mt-media.attachment-added .customify--remove {display: inline-block;}
.customify-mt-box-inner {width: 100%;}
.customify-mt-tabs {display: flex;width: 100%;}
.customify-mt-tabs .customify-mt-tabs-list {flex-basis: 20%;margin: 0;float: left;line-height: 1em;padding: 0 0 10px;position: relative;background-color: #fafafa;border-right: 1px solid #eee;box-sizing: border-box;}
.customify-mt-tabs .customify-mt-tabs-list li {margin: 0px;padding: 0px;}
.customify-mt-tabs .customify-mt-tabs-list li i {font-size: 14px;margin-top: 4px;margin-right: 5px;}
.customify-mt-tabs .customify-mt-tabs-list li.active a {color: #555;position: relative;background-color: #eee;}
.customify-mt-tabs .customify-mt-tabs-list a {margin: 0;padding: 10px;display: block;box-shadow: none;text-decoration: none;line-height: 20px !important;border-bottom: 1px solid #eee;}
.customify-mt-tabs .customify-mt-tab-contents {flex-basis: 80%;}
.customify-mt-tabs .customify-mt-tab-contents .customify-mt-tab-cont {display: none;}
.customify-mt-tabs .customify-mt-tab-contents .customify-mt-tab-cont.active {display: block;}
.customify-mt-field {display: flex;padding: 15px 20px;align-items: start;border-bottom: 1px solid #eee;}
.customify-mt-field:last-child {border-bottom: 0px;}
.customify-mt-field .customify-mt-field-label {flex-basis: 25%;}
.customify-mt-field .customify-mt-field-inner {flex-basis: 75%;}
.customify-mt-field .customify-mt-field-inner p.field-p:first-child {margin-top: 0px;}
.customify-mt-field .customify-mt-field-inner p.field-p:last-child {margin-bottom: 0px;}
.customify-mt-field .customify-image-preview {display: flex;align-items: center;justify-content: center;width: 100px;height: 100px;background: #eee;border: 1px solid #eee;}
.customify-mt-field .customify-image-preview img {object-fit: cover;width: 100%;height: 100%;}
.cd-box .customify-mt-box .customify-mt-field {padding-left: 0px;padding-right: 0px;}
.edit-post-meta-boxes-area.is-side .customify-mt-tabs {display: block;}
.edit-post-meta-boxes-area.is-side .customify-mt-tabs-list {display: flex;float: none;border-bottom: 1px solid #eee;padding: 0 15px;}
.edit-post-meta-boxes-area.is-side .customify-mt-tabs-list .customify-mt-tab-cont a {font-size: 0;border-bottom: 0;position: relative;}
.edit-post-meta-boxes-area.is-side .customify-mt-tabs-list .customify-mt-tab-cont a::before, .edit-post-meta-boxes-area.is-side .customify-mt-tabs-list .customify-mt-tab-cont a::after {left: 50%;opacity: 0;position: absolute;z-index: -9999999;font-size: 12px;}
.edit-post-meta-boxes-area.is-side .customify-mt-tabs-list .customify-mt-tab-cont a::before {border-style: solid;border-width: 1em .75em 0 .75em;border-color: #3e474f transparent transparent transparent;bottom: 100%;content: "";transform: translateX(-50%);}
.edit-post-meta-boxes-area.is-side .customify-mt-tabs-list .customify-mt-tab-cont a::after {background: #3e474f;border-radius: .25em;bottom: calc(100% + .75em);color: #edeff0;display: block;content: attr(data-title);padding: .3em 1em;text-align: center;min-width: 5em;width: max-content;transform: translateX(-50%);}
.edit-post-meta-boxes-area.is-side .customify-mt-tabs-list .customify-mt-tab-cont a:hover::before, .edit-post-meta-boxes-area.is-side .customify-mt-tabs-list .customify-mt-tab-cont a:hover::after {opacity: 1;z-index: 9999999;}
.edit-post-meta-boxes-area.is-side .customify-mt-tabs-list .customify-mt-tab-cont .dashicons {font-size: 16px;margin-top: 0;margin-right: 0;}
.edit-post-meta-boxes-area.is-side .customify-mt-tab-contents {display: block;float: none;}
.edit-post-meta-boxes-area.is-side .customify-mt-tab-contents .customify-mt-field {display: block;}
.edit-post-meta-boxes-area.is-side .customify-mt-tab-contents .customify-mt-field .customify-mt-field-label {width: 100%;display: block;margin-bottom: .5em;}
.edit-post-meta-boxes-area.is-side .customify-mt-tab-contents .customify-mt-field .customify-mt-field-inner {width: 100%;}
.edit-post-meta-boxes-area.is-side .customify-mt-tab-contents .customify-mt-field .customify-mt-field-inner > * {width: 100%;}