<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Large PrEP study finds no HIV infections	</title>
	<atom:link href="http://studio256.gitlab.io/men2men/large-prep-study-finds-no-hiv-infections/feed/" rel="self" type="application/rss+xml" />
	<link>http://studio256.gitlab.io/men2men/large-prep-study-finds-no-hiv-infections/</link>
	<description></description>
	<lastBuildDate>Mon, 07 Sep 2015 15:03:54 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
