<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Men2Men by OUT</title>
	<atom:link href="http://studio256.gitlab.io/men2men/feed/" rel="self" type="application/rss+xml" />
	<link>http://studio256.gitlab.io/men2men/</link>
	<description></description>
	<lastBuildDate>Mon, 10 Feb 2020 19:21:19 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Life Tips: Rebooting your brain</title>
		<link>http://studio256.gitlab.io/men2men/life-tips-rebooting-your-brain/</link>
				<comments>http://studio256.gitlab.io/men2men/life-tips-rebooting-your-brain/#respond</comments>
				<pubDate>Sun, 26 Jan 2020 12:47:05 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2020/01/26/life-tips-rebooting-your-brain/</guid>
				<description><![CDATA[<p><em><strong>“I have set the reset button and I can choose the direction of my thoughts.” - Abraham Hicks</strong></em></p>
<p>It’s the beginning of a new year! We look at tips on how you can reboot your brain and make a fresh start…</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-rebooting-your-brain/">Life Tips: Rebooting your brain</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>• Do what you love and be grateful<br />
• Understand that thoughts affect your emotions which affect your actions and behaviour<br />
• Acknowledge and stop the impulse to avoid pain and to gain pleasure<br />
• Always know why you’re doing what you’re doing<br />
• Focus on the present moment<br />
• Enjoy the journey and stop rushing the result<br />
• Improve your willpower<br />
• Take failures as feedback</p>
<p>If you need advice or support:<br />
&#8211; Ask Dr Dick <a href="get-help/ask-dr-dick" target="_blank" rel="noopener noreferrer">your questions here<br />
</a>&#8211; Get FREE face-to-face counselling at the TEN81 Centre in Pretoria (Book now on 066 190 5812)<br />
&#8211; or get FREE telephonic counselling nationwide (066 190 5812)</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-rebooting-your-brain/">Life Tips: Rebooting your brain</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/life-tips-rebooting-your-brain/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Here’s why early HIV treatment means a healthier life</title>
		<link>http://studio256.gitlab.io/men2men/here-s-why-early-hiv-treatment-means-a-healthier-life/</link>
				<comments>http://studio256.gitlab.io/men2men/here-s-why-early-hiv-treatment-means-a-healthier-life/#respond</comments>
				<pubDate>Sun, 26 Jan 2020 11:27:29 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2020/01/26/here-s-why-early-hiv-treatment-means-a-healthier-life/</guid>
				<description><![CDATA[</p>
<p><strong>If you have been living with HIV for a while or just recently discovered that you are positive, the sooner you start treatment and stay on it, the better. Here’s why EARLY TREATMENT = HEALTHIER LIFE:</strong></p>
<p>• Today, it’s widely accepted that you should start taking ARVs as soon as you learn that you are HIV positive.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/here-s-why-early-hiv-treatment-means-a-healthier-life/">Here’s why early HIV treatment means a healthier life</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>• Even if you don’t feel sick or have any symptoms the virus may be quietly causing havoc in your body.</p>
<p>• Treating HIV with ARV medication immediately, before the virus gets out of control, will result in better general health and longterm health outcomes.</p>
<p>• ARVs stop HIV from affecting your immune system and reduce the risk of you getting other opportunistic infections.</p>
<p>• ARVs reduce the amount of HIV in your body, known as ‘viral load suppression’. When this happens, HIV cannot harm you, which means a better quality of life.</p>
<p>• When virally suppressed, the virus can become undetectable (there is so little of it left that doctors can’t find it in your body) and chances are extremely low of you infecting your sexual partner/s!</p>
<p>• This is known as U=U (Undetectable = Untransmittable). It means that someone with an undetectable HIV viral load who takes ARVs correctly and is regularly monitored by his health care professional – cannot transmit HIV, even when not using condoms.</p>
<p>• If you stop taking ARVs or don’t take it correctly, the HIV will start to replicate and get out of control, affecting your health and making you more likely to pass it on to others. You also risk the virus becoming resistant to treatment in the future.</p>
<p>So, it’s simple – don’t let HIV get you down and fight back! Start ARVs as soon as possible if you are positive – and stay on them.</p>
<p><em>For free HIV treatment and management in Tshwane for men who have sex with men in Tshwane, call TEN81 in Hatfield, Pretoria on 012 430 3272 / 066 190 5812.</em></p>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/here-s-why-early-hiv-treatment-means-a-healthier-life/">Here’s why early HIV treatment means a healthier life</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/here-s-why-early-hiv-treatment-means-a-healthier-life/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Life Tips: Becoming more patient</title>
		<link>http://studio256.gitlab.io/men2men/life-tips-becoming-more-patient/</link>
				<comments>http://studio256.gitlab.io/men2men/life-tips-becoming-more-patient/#respond</comments>
				<pubDate>Mon, 11 Nov 2019 14:38:36 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2019/11/11/life-tips-becoming-more-patient/</guid>
				<description><![CDATA[<p><p><em><strong>“Patience can’t be acquired overnight. It is just like building up a muscle. Every day you need to work on it.”</strong> - Eknath Easwaran</em></p>
<p>At this time of the year, people seem to become more impatient. Here are some helpful tips on how to practice becoming more patient.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-becoming-more-patient/">Life Tips: Becoming more patient</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>• Don’t react, rather distract. Focus on something other than the brewing frustration.<br />• Reconnect with what put you in the situation. It is easier to deal with discomfort when you know it is for a good reason.<br />• Shift your perspectives. Find something good or interesting in the situation.<br />• Focus on what you can control.<br />• Learn to breathe deeply and slowly.<br />• Practice by making yourself wait.<br />• Practice gratitude.<br />• Find a &#8216;slow&#8217; hobby (eg knitting, gardening, walking).</p>
<p><p>If you need advice or support:<br />&#8211; Ask Dr Dick&nbsp;<a href="get-help/ask-dr-dick" target="_blank" rel="noopener noreferrer">your questions here<br /></a>&#8211; Get FREE face-to-face counselling at the TEN81 Centre in Pretoria (Book now on 066 190 5812)<br />&#8211; or get FREE telephonic counselling nationwide (066 190 5812)</p></p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-becoming-more-patient/">Life Tips: Becoming more patient</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/life-tips-becoming-more-patient/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Life Tips: Mental Health Checklist</title>
		<link>http://studio256.gitlab.io/men2men/life-tips-mental-health-checklist/</link>
				<comments>http://studio256.gitlab.io/men2men/life-tips-mental-health-checklist/#respond</comments>
				<pubDate>Wed, 14 Aug 2019 16:17:10 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2019/08/14/life-tips-mental-health-checklist/</guid>
				<description><![CDATA[</p>
<p><em><strong>“You, yourself, as much as anybody in the entire universe, deserve your love and affection.” - The Buddha</strong></em></p>
<p>Our hectic lifestyle means it's easy to neglect our wellbeing. Here's a mental health checklist to help keep your mind in shape.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-mental-health-checklist/">Life Tips: Mental Health Checklist</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>• A balanced diet gives the brain the fuel it needs to stay healthy</p>
<p>• Exercise increases energy levels and helps manage anxiety and stress</p>
<p>• Sufficient sleep re-energises and helps maintain mental health. So does relaxation</p>
<p>• Mindfulness helps us focus on the present, and away from worrying</p>
<p>• Learn not to talk to yourself in a negative or destructive way</p>
<p>• Work to improve your self-esteem</p>
<p>• Set goals for your mental health</p>
<p>• Talk about your emotions to trusted people</p>
<p>&nbsp;</p>
<p>If you need advice or support:<br />&#8211; Ask Dr Dick&nbsp;<a href="get-help/ask-dr-dick" target="_blank" rel="noopener noreferrer">your questions here<br /></a>&#8211; Get FREE face-to-face counselling at the TEN81 Centre in Pretoria (Book now on 066 190 5812)<br />&#8211; or get FREE telephonic counselling nationwide (066 190 581)</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-mental-health-checklist/">Life Tips: Mental Health Checklist</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/life-tips-mental-health-checklist/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Life Tips: Managing anxiety</title>
		<link>http://studio256.gitlab.io/men2men/life-tips-managing-anxiety/</link>
				<comments>http://studio256.gitlab.io/men2men/life-tips-managing-anxiety/#respond</comments>
				<pubDate>Tue, 09 Jul 2019 14:43:43 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2019/07/09/life-tips-managing-anxiety/</guid>
				<description><![CDATA[</p>
<p><strong>“You don’t have to control your thoughts. You just have to stop letting them control you.” - <em>Dan Millman</em></strong></p>
<p>This month, TEN81 looks at tips on dealing with and learning to manage anxiety.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-managing-anxiety/">Life Tips: Managing anxiety</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>• Move your body. Exercise is an important part of both physical and mental health.<br />• Pay attention to sleep. Enough hours of sleep and quality of sleep are equally important.<br />• Ease up on caffeine and alcohol. Caffeine, which is an “upper”, and alcohol, which is a “downer”, can make anxiety kick into overdrive.<br />• Schedule your worry time. Pick a time to think about your fears on purpose for about 30 minutes and what you can do about them. Don’t dwell on “what-ifs”. Then move on.<br />• Breathe deeply. It helps your mind and body relax, and sends messages to your brain that you are okay.</p>
<p>If you need advice or support:<br />&#8211; Ask Dr Dick&nbsp;<a href="get-help/ask-dr-dick" target="_blank" rel="noopener noreferrer">your questions here<br /></a>&#8211; Get FREE face-to-face counselling at the TEN81 Centre in Pretoria (Book now on 066 190 5812)<br />&#8211; or get FREE telephonic counselling nationwide (066 190 5812)</p>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-managing-anxiety/">Life Tips: Managing anxiety</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/life-tips-managing-anxiety/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Life Tips: Growing your Pride</title>
		<link>http://studio256.gitlab.io/men2men/life-tips-growing-your-pride/</link>
				<comments>http://studio256.gitlab.io/men2men/life-tips-growing-your-pride/#respond</comments>
				<pubDate>Sun, 09 Jun 2019 14:50:27 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2019/06/09/life-tips-growing-your-pride/</guid>
				<description><![CDATA[</p>
<p><strong>"Never be bullied into silence. Never allow yourself to be made a victim. Accept no one’s definition of your life; define yourself.”</strong> - <em>Harvey Fierstein</em></p>
<p>June is international Pride Month, raising awareness and fighting against homophobia and transphobia. Here’s how you can contribute to your community:</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-growing-your-pride/">Life Tips: Growing your Pride</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>• Learn the history of where and how Pride originated.<br />• Find out about the issues that affect LGBTI people in South Africa.<br />• Know the LGBTI organisations or groups in your area.<br />• Be aware of the work that these organisations or groups do.<br />• Think how you could contribute towards their work and take action. <br /> Together we can strengthen the impact of these efforts.<br />• Attend events or dialogues about LGBTI issues in your community, and let your voice be heard.<br />• Surround yourself with other LGBTI people. You are not alone but part of a “family”.</p>
<p>If you need advice or support:<br />&#8211; Ask Dr Dick&nbsp;<a href="get-help/ask-dr-dick" target="_blank" rel="noopener noreferrer">your questions here<br /></a>&#8211; Get FREE face-to-face counselling at the TEN81 Centre in Pretoria (Book now on 066 190 5812)<br />&#8211; or get FREE telephonic counselling nationwide (066 190 5812)</p>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-growing-your-pride/">Life Tips: Growing your Pride</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/life-tips-growing-your-pride/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Life Tips: Internalised homophobia</title>
		<link>http://studio256.gitlab.io/men2men/life-tips-internalised-homophobia/</link>
				<comments>http://studio256.gitlab.io/men2men/life-tips-internalised-homophobia/#respond</comments>
				<pubDate>Thu, 16 May 2019 12:35:18 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2019/05/16/life-tips-internalised-homophobia/</guid>
				<description><![CDATA[<p><em><strong><br />“Internalised homophobia against myself is something I have dealt with my whole life. And so my life mission for myself, personally, is to just smash down all of those walls and be exactly who I want to be” - Troye Sivan</strong></em></p>
<p>Living in an unwelcoming world can lead to feelings of shame or not being good enough.&#160;Recognising that we’ve all been shaped by this reality is the first step in overcoming our own internalised homophobia.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-internalised-homophobia/">Life Tips: Internalised homophobia</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>Here are some tips on dealing with internalised homophobia:</p>
<p>• Recognise these feelings and the negative things you tell yourself<br />• Identify and address the sources of these feelings and thoughts<br />• Eliminate sources of homophobia in your life, where possible<br />• Steer clear of homophobic people as far as possible<br />• Spend time with LGBTIQ people and learn from them<br />• Surround yourself with supportive people<br />• Learn to love and accept yourself<br />• Talk to a professional</p>
<p>If you need advice or support:<br />&#8211; Ask Dr Dick&nbsp;<a href="get-help/ask-dr-dick" target="_blank" rel="noopener noreferrer">your questions here<br /></a>&#8211; Get FREE face-to-face counselling at the TEN81 Centre in Pretoria (Book now on 066 190 5812)<br />&#8211; or get FREE telephonic counselling nationwide (066 190 5812)</p>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/life-tips-internalised-homophobia/">Life Tips: Internalised homophobia</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/life-tips-internalised-homophobia/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Life Tips: Dealing with financial worries</title>
		<link>http://studio256.gitlab.io/men2men/that-little-blue-pill-a-prep-faq-may-18-have-you-heard-about-prep-the-amazing-new-daily-pill-that-prevents-hiv-so-is-it-for-you-here-are-some-commonly-asked-questions-about-prep-how-it-works-and-how-t/</link>
				<comments>http://studio256.gitlab.io/men2men/that-little-blue-pill-a-prep-faq-may-18-have-you-heard-about-prep-the-amazing-new-daily-pill-that-prevents-hiv-so-is-it-for-you-here-are-some-commonly-asked-questions-about-prep-how-it-works-and-how-t/#respond</comments>
				<pubDate>Wed, 10 Apr 2019 09:51:34 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2019/04/10/that-little-blue-pill-a-prep-faq-may-18-have-you-heard-about-prep-the-amazing-new-daily-pill-that-prevents-hiv-so-is-it-for-you-here-are-some-commonly-asked-questions-about-prep-how-it-works-and-how-t/</guid>
				<description><![CDATA[</p>
<p><em><strong>“A big part of financial freedom is having your heart and mind free from worry about the what-ifs of life.” – Suze Orman</strong></em></p>
<p>Financial worries can cause sleepless nights. Here are tips on how to reduce this kind of stress by planning and setting financial goals:</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/that-little-blue-pill-a-prep-faq-may-18-have-you-heard-about-prep-the-amazing-new-daily-pill-that-prevents-hiv-so-is-it-for-you-here-are-some-commonly-asked-questions-about-prep-how-it-works-and-how-t/">Life Tips: Dealing with financial worries</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>• Write down your financial goals, and be realistic.<br />• Create a budget. It will give you a feeling of control over your finances and help you plan your expenses.<br />• Get an emergency fund. Save for unexpected expenses as well as your goals.<br />• Get outside help. Talking to a knowledgeable person can offer an outside perspective.<br />• Do you have an income issue or a spending issue? Decide to change what you can.<br />• Take a positive approach by tracking your progress towards your financial goals.</p>
<p>If you need advice or support:<br />&#8211; Ask Dr Dick&nbsp;<a href="get-help/ask-dr-dick" target="_blank" rel="noopener noreferrer">your questions here<br /></a>&#8211; Get FREE face-to-face counselling at the TEN81 Centre in Pretoria (Book now on 066 190 5812)<br />&#8211; or get FREE telephonic counselling nationwide (066 190 5812)</p>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/that-little-blue-pill-a-prep-faq-may-18-have-you-heard-about-prep-the-amazing-new-daily-pill-that-prevents-hiv-so-is-it-for-you-here-are-some-commonly-asked-questions-about-prep-how-it-works-and-how-t/">Life Tips: Dealing with financial worries</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/that-little-blue-pill-a-prep-faq-may-18-have-you-heard-about-prep-the-amazing-new-daily-pill-that-prevents-hiv-so-is-it-for-you-here-are-some-commonly-asked-questions-about-prep-how-it-works-and-how-t/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>Could PrEP become a long-lasting injection instead of a daily pill?</title>
		<link>http://studio256.gitlab.io/men2men/could-prep-become-a-long-lasting-injection-instead-of-a-daily-pill/</link>
				<comments>http://studio256.gitlab.io/men2men/could-prep-become-a-long-lasting-injection-instead-of-a-daily-pill/#respond</comments>
				<pubDate>Tue, 26 Mar 2019 14:45:46 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2019/03/26/could-prep-become-a-long-lasting-injection-instead-of-a-daily-pill/</guid>
				<description><![CDATA[<p><strong></strong></p>
<p><strong>Researchers are conducting an injectable PrEP trial in Cape Town that could revolutionise the way that we protect ourselves from HIV.</strong></p>
<p>PrEP (Pre-exposure prophylaxis) is a usually daily tablet taken by HIV-negative individuals to avoid HIV infection. It has been found to be extremely effective (by more than 90%) and usually has minimal side effects.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/could-prep-become-a-long-lasting-injection-instead-of-a-daily-pill/">Could PrEP become a long-lasting injection instead of a daily pill?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>PrEP is recommended for sexually active men who have sex with men (MSM) who might be at risk of HIV and is available for free at a limited number of sites around the country.</p>
<p>MSM and transgender women who have sex with men are considered “key populations” at high risk of being infected with HIV in part because they commonly face discrimination and barriers when accessing healthcare.</p>
<p>Some potential and current PrEP users, however, may be put off by having to remember to take the tablet on a daily basis or may simply forget, thereby reducing the effectiveness of the pill.</p>
<p>That’s one of the reasons why researchers at the Groote Schuur HIV Clinical Research Site Unit are working to assess if a form of long-lasting PrEP injected once every two months will work just as well as the tablets. <a href="https://giveprepashot.org/" target="_blank" rel="noopener noreferrer">The HPTN 083 study</a> is also being conducted in other sites in the Americas, Africa and Asia.</p>
<p>“PrEP works very well, provided you take it properly,” explains Dr Richard Kaplan from the Desmond Tutu HIV Foundation, which is <a href="http://desmondtutuhivfoundation.org.za/giveprepashot/" target="_blank" rel="noopener noreferrer">recruiting people</a> for the study. “But you need to take it every day and that’s the problem. It’s really hard for people, especially if they’ve got no real good medical reason to take a tablet, to remember to take it,” he told MambaOnline.</p>
<p>“So this trial is looking at another way of providing PrEP and we are in an era of long-working antiretrovirals and one drug we’ve got is cabotegravir (CAB) that can be formulated as a long-working injection,” says Kaplan.</p>
<p>He believes that if shown to be effective and safe, this injectable form of PrEP could help reduce the problem of people’s adherence to the medication and further add to the growing arsenal in the fight against HIV.</p>
<p>Kaplan acknowledges that, in the meantime, there is still much work to be done in terms of informing the gay, bi, MSM and trans communities about the current tablet form of PrEP and providing them with access to the medication.</p>
<p>He says it will be another year or two before the results of the injectable PrEP study are released but the Desmond Tutu HIV Foundation is still looking for MSM and trans women, especially those who engage in sex without condoms or have multiple sex partners, to participate.</p>
<p>If you are HIV-negative, 18 or older and a man or transgender woman who has sex with men in the Cape Town area and would like to take part in the study, contact the researchers on 060 821 8757 or email <a href="mailto:contactUs@hiv-research.org.za.">contactUs@hiv-research.org.za.</a></p>
<p><em>Oral PrEP is available for free for MSM at OUT’s TEN81 clinic in Pretoria (012 430 3272), the Ivan Toms Clinic in Greenpoint, Cape Town (021 447 2844) and the Health4Men Services Clinic in Yeoville, Johannesburg (011 648 7979 or 072 654 0816). The new Engage Men’s Health clinic in Melville, Johannesburg will also start offering free PrEP for MSM in April 2019.</em></p>
<p><em>Article courtesy of <a href="https://www.mambaonline.com/" target="_blank" rel="noopener noreferrer">MambaOnline.com</a></em></p>
<p><em><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;</span></em></p>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/could-prep-become-a-long-lasting-injection-instead-of-a-daily-pill/">Could PrEP become a long-lasting injection instead of a daily pill?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/could-prep-become-a-long-lasting-injection-instead-of-a-daily-pill/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
		<item>
		<title>London man is ‘cured’ of HIV</title>
		<link>http://studio256.gitlab.io/men2men/london-man-is-cured-of-hiv/</link>
				<comments>http://studio256.gitlab.io/men2men/london-man-is-cured-of-hiv/#respond</comments>
				<pubDate>Wed, 13 Mar 2019 14:42:00 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/2019/03/13/london-man-is-cured-of-hiv/</guid>
				<description><![CDATA[<p>&#160;<strong>A London patient appears to have been cured of HIV after a bone marrow transplant from a donor with a special genetic mutation.</strong></p>
<p>His case was published in Nature journal on March 4th, and simultaneously announced by University College London researchers at the annual Conference on Retroviruses and Opportunistic Infections in Seattle.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/london-man-is-cured-of-hiv/">London man is ‘cured’ of HIV</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>The “London patient”, who has asked to remain anonymous, was diagnosed with HIV in 2003. In 2012, he developed a blood cancer called Hodgkin’s lymphoma.</p>
<p>He became very ill in 2016 and had a bone marrow transplant from a donor with a genetic mutation – known as CCR5 delta 32 – which has been shown to resist HIV.</p>
<p>Since the transplant, there has been no sign of HIV and he stopped taking antiretroviral medicine 19 months ago.</p>
<p>“There is no virus there that we can measure. We can’t detect anything,” Professor Ravindra Gupta told the conference, describing his patient as “functionally cured”.</p>
<p>This is the second time a person has been cleared of HIV following a bone marrow transplant from a donor with this genetic mutation.</p>
<p>Twelve years ago, Timothy Brown – initially called the “Berlin patient” before he decided to go public – had this transplant and has been clear of HIV ever since.</p>
<p>Anton Pozniak, president of the International AIDS Society (IAS), described the announcement as “a critical moment in the search for an HIV cure” as it “reaffirms our belief that there exists a proof of concept that HIV is curable”.</p>
<p>“The hope is that this will eventually lead to a safe, cost-effective and easy strategy to achieve these results using gene technology or antibody techniques,” said Pozniak.</p>
<p>Michel Sidibé, Executive Director of UNAIDS said finding a cure for HIV is “the ultimate dream”.</p>
<p>“Although this breakthrough is complicated and much more work is needed, it gives us great hope for the future that we could potentially end AIDS with science, through a vaccine or a cure,” said Sidibe. “However, it also shows how far away we are from that point and of the absolute importance of continuing to focus HIV prevention and treatment efforts.”</p>
<p>Stem cell transplants are complicated, intensive and costly procedures with substantial side-effects and are not a viable way of treating large numbers of people living with HIV, according to UNAIDS.</p>
<p>“However, the results do offer a greater insight for researchers working on HIV cure strategies and highlight the continuing importance of investing in scientific research and innovation,” according to UNAIDS.</p>
<p>“The so-called London Patient has now been off ART for 19 months with no viral rebound which is impressive, but I would still be closely monitoring his viral load,” Sharon Lewin, IAS Governing Council Member and Co-Chair of the Towards an HIV Cure initiative, said. “However, this is a long time to be in remission off ART’’.</p>
<p>“Coming 10 years after the successful report of the Berlin Patient, this new case confirms that bone marrow transplantation from a CCR5-negative donor can eliminate residual virus and stop any traces of virus from rebounding,” said Sharon Lewin, IAS Governing Council Member and Co-Chair of the Towards an HIV Cure initiative.</p>
<p>“Two factors are likely at play – the new bone marrow is resistant to HIV and also the new bone marrow is actively eliminating any HIV-infected cells through something called graft versus host disease.” – Health-e News.</p>
<p><em>Article courtesy of <a href="https://www.health-e.org.za/2019/03/05/second-person-cured-of-hiv/" target="_blank" rel="noopener noreferrer">Health-e News</a>.</em></p>
<p>&nbsp;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/london-man-is-cured-of-hiv/">London man is ‘cured’ of HIV</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
							<wfw:commentRss>http://studio256.gitlab.io/men2men/london-man-is-cured-of-hiv/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
							</item>
	</channel>
</rss>
