<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Study: More than 60% of newly diagnosed HIV+ men used dating apps	</title>
	<atom:link href="http://studio256.gitlab.io/men2men/study-more-than-60-of-newly-diagnosed-hiv-men-used-dating-apps/feed/" rel="self" type="application/rss+xml" />
	<link>http://studio256.gitlab.io/men2men/study-more-than-60-of-newly-diagnosed-hiv-men-used-dating-apps/</link>
	<description></description>
	<lastBuildDate>Mon, 07 Mar 2016 14:40:39 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
</channel>
</rss>
