<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>General &#8211; Men2Men by OUT</title>
	<atom:link href="http://studio256.gitlab.io/men2men/ufaq-category/general/feed/" rel="self" type="application/rss+xml" />
	<link>http://studio256.gitlab.io/men2men/</link>
	<description></description>
	<lastBuildDate>Tue, 11 Feb 2020 12:48:37 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Pieter&#8217;s (24) question: Hey I have a HUGE problem&#8230;when I say huge, I mean huge&#8230; my boyfriend is very gifted, his Dick is so huge it just gives me chest pains. We&#8217;ve been dating for some time and we have only started having anal sex in the last two weeks. He is a top and is just way too big for me, in the sense that he can&#8217;t penetrate me&#8230;we&#8217;ve tried a few positions and nothing seems to help. I&#8217;ve been around the block and I know how to relax my muscles, but damn he is just too big. We&#8217;ve tried some Lube but nothing seems to help. To make matters worse he is not a bottom so changing roles won&#8217;t work. Please help because I just don&#8217;t know how to handle a pornstar!</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/pieters-24-question-hey-i-have-a-huge-problem-when-i-say-huge-i-mean-huge-my-boyfriend-is-very-gifted-his-dick-is-so-huge-it-just-gives-me-chest-pains-weve-been-dating-for-some-time-and/</link>
				<pubDate>Tue, 11 Feb 2020 12:48:03 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=679</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: Having a &#8216;pornstar&#8217; as a partner is the stuff of many a gay man&#8217;s fantasy! Perhaps try the following: Purchase yourself a&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/pieters-24-question-hey-i-have-a-huge-problem-when-i-say-huge-i-mean-huge-my-boyfriend-is-very-gifted-his-dick-is-so-huge-it-just-gives-me-chest-pains-weve-been-dating-for-some-time-and/">Pieter&#8217;s (24) question: Hey I have a HUGE problem&#8230;when I say huge, I mean huge&#8230; my boyfriend is very gifted, his Dick is so huge it just gives me chest pains. We&#8217;ve been dating for some time and we have only started having anal sex in the last two weeks. He is a top and is just way too big for me, in the sense that he can&#8217;t penetrate me&#8230;we&#8217;ve tried a few positions and nothing seems to help. I&#8217;ve been around the block and I know how to relax my muscles, but damn he is just too big. We&#8217;ve tried some Lube but nothing seems to help. To make matters worse he is not a bottom so changing roles won&#8217;t work. Please help because I just don&#8217;t know how to handle a pornstar!</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><strong>Dr Dick&#8217;s response:</strong></p>
<p>Having a &#8216;pornstar&#8217; as a partner is the stuff of many a gay man&#8217;s fantasy! Perhaps try the following:</p>
<ul>
<li>Purchase yourself a butt-plug. Preferably one that is large. The design of the butt-plug is such that your anus gradually widens the deeper you insert the butt-plug into your anus. In this way you should become accustomed to &#8216;large&#8217; objects. Try 6 reps a day for at least two weeks. You can practice inserting it yourself or you can introduce it as a form of fore-play with your fiancé.</li>
<li>Try to reframe the sexual encounter. Gay men often put a lot of pressure on themselves and their sexual partners to perform anal sex. This is because anal sex has become synonymous with gay sex. Most gay men see anal sex as the only valid form of &#8216;real sex&#8217; between men and therefore place a great deal of pressure on themselves and their sexual partners, directly and indirectly. So perhaps a suggestion could be to remove your focus off anal sex for a short period and agree instead to focus on other, equally exciting ways to experience desire and pleasure with one another. I am reminded here of a case I heard about where a guy had a particular fetish for being f*cked in the arm pit. It may sound bizarre for many but at least he was able to find alternative ways to experience pleasure. Thigh sex, which is very popular amongst straight adolescents, is another option. Be creative and have fun while you&#8217;re at it.</li>
<li>It will only work if you really want it to. This may be a bit of an unsettling idea, but we need to explore all the alternatives. There is the idea that he can&#8217;t enter you because you are feeling conflicted about something: perhaps anxiety, perhaps fear, or perhaps anger. Try and think (and hold back the laughter for just a moment) what his &#8216;huge&#8217; penis may represent or mean for you? How does it make you feel? Now, how would you feel having it inside you? What could that mean? What are you achieving by not having him enter you? Does he use protection? These questions might sound strange but might be helpful to consider. Those in the know maintain that if you really want it (him inside you) then it will.</li>
</ul>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/pieters-24-question-hey-i-have-a-huge-problem-when-i-say-huge-i-mean-huge-my-boyfriend-is-very-gifted-his-dick-is-so-huge-it-just-gives-me-chest-pains-weve-been-dating-for-some-time-and/">Pieter&#8217;s (24) question: Hey I have a HUGE problem&#8230;when I say huge, I mean huge&#8230; my boyfriend is very gifted, his Dick is so huge it just gives me chest pains. We&#8217;ve been dating for some time and we have only started having anal sex in the last two weeks. He is a top and is just way too big for me, in the sense that he can&#8217;t penetrate me&#8230;we&#8217;ve tried a few positions and nothing seems to help. I&#8217;ve been around the block and I know how to relax my muscles, but damn he is just too big. We&#8217;ve tried some Lube but nothing seems to help. To make matters worse he is not a bottom so changing roles won&#8217;t work. Please help because I just don&#8217;t know how to handle a pornstar!</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Bongani&#8217;s (27) Question: I am a gay male and identify as a top. I am unable to keep my erection as soon as the sexual play moves to anal sex. I do not have difficulty maintaining an erection with other activities, e.g., oral sex. Could this be a psychological matter? I am quite sensitive to hygiene issues.</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/bonganis-27-question-i-am-a-gay-male-and-identify-as-a-top-i-am-unable-to-keep-my-erection-as-soon-as-the-sexual-play-moves-to-anal-sex-i-do-not-have-difficulty-maintaining-an-erection-with-oth/</link>
				<pubDate>Tue, 11 Feb 2020 12:47:02 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=678</guid>
				<description><![CDATA[<p>Dr Dick’s response: It seems that your current difficulty might be caused by psychological factors. However, always clarify possible biological factors with a medical doctor.&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/bonganis-27-question-i-am-a-gay-male-and-identify-as-a-top-i-am-unable-to-keep-my-erection-as-soon-as-the-sexual-play-moves-to-anal-sex-i-do-not-have-difficulty-maintaining-an-erection-with-oth/">Bongani&#8217;s (27) Question: I am a gay male and identify as a top. I am unable to keep my erection as soon as the sexual play moves to anal sex. I do not have difficulty maintaining an erection with other activities, e.g., oral sex. Could this be a psychological matter? I am quite sensitive to hygiene issues.</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: It seems that your current difficulty might be caused by psychological factors.  However, always clarify possible biological factors with a medical doctor.  Sometimes, being nervous, tired or not sufficiently horny, you may find that you lose your erection while engaging in foreplay or once one starts anal sex. This may happen to a person who is just starting as a top or even to someone with lots of sexual experience. If this happens, take a deep breath, remove all pressure to perform, and consider continuing foreplay / other sexual play a bit more before attempting anal sex again.  Experts believe that psychological factors such as stress, anxiety, guilt, depression, low self-esteem, and fear of sexual failure cause 10 to 20% of inability to maintain an erection.  I cannot say for certain that your difficulty is due to psychological factors as a full assessment needs to be done.  I can however recommend that you visit a psychologist / counsellor to discuss your concerns and receive guidance.  They can also provide you with guidance on sexual health and anal sex.    Always remember to play safe and use condoms and water-based lubricant, especially during anal sex.  Condoms, if used correctly and consistently, can reduce your risk of contracting HIV and STIs by up to 85% and offers protection during oral and anal sex.  Using lube makes sex smoother (because it decreases friction) and gives you added protection.  Regarding your sensitivity to hygiene issues, don’t be too concerned.  Anal hygiene and hygiene in general is an important factor.  You are welcome to read through the anal hygiene section on the men2men website.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/bonganis-27-question-i-am-a-gay-male-and-identify-as-a-top-i-am-unable-to-keep-my-erection-as-soon-as-the-sexual-play-moves-to-anal-sex-i-do-not-have-difficulty-maintaining-an-erection-with-oth/">Bongani&#8217;s (27) Question: I am a gay male and identify as a top. I am unable to keep my erection as soon as the sexual play moves to anal sex. I do not have difficulty maintaining an erection with other activities, e.g., oral sex. Could this be a psychological matter? I am quite sensitive to hygiene issues.</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Carl&#8217;s (21) Question: I think I have a very small dick. How can I enlarge my dick?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/carls-21-question-i-think-i-have-a-very-small-dick-how-can-i-enlarge-my-dick/</link>
				<pubDate>Tue, 11 Feb 2020 12:45:59 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=677</guid>
				<description><![CDATA[<p>Dr Dick’s response: First, let’s look at information regarding penis size to clarify your concern that your penis might be very small. The length of&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/carls-21-question-i-think-i-have-a-very-small-dick-how-can-i-enlarge-my-dick/">Carl&#8217;s (21) Question: I think I have a very small dick. How can I enlarge my dick?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: First, let’s look at information regarding penis size to clarify your concern that your penis might be very small. The length of a non-erect penis usually measures between 8.5cm and 10.5cm (3-4 inches) from tip to base. The average length is about 9.5cm (3.75 inches). Many factors can cause a temporary shrinkage of two inches or more, for instance cold weather or going swimming, so you needn&#8217;t worry if you happen to fall short of the average figure. Interestingly, most penises are very much the same size when erect. A guy whose non-erect penis is smallish will usually achieve about a 100 % increase in length during sexual excitement. A guy whose non-erect penis is already quite large will probably manage about a 75 % increase. This means the great majority of penises measure between 15cm and 18cm (6-7 inches) when erect, with the average figure being about 16.5cm (6.5 inches). The average width of a flaccid penis is 3.1cm (1.25 inches) and 4cm (1.6 inches) when erect.</p>
<p>Medical articles and research shows that it is quite difficult to enlarge penis size. You could try a “penis pump” which is said to also enhance sexual performance, but conflicting debates exist whether it really increases penis size. User instructions need to be followed carefully as the penis pump might cause damage to the penis (burst blood veins).</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/carls-21-question-i-think-i-have-a-very-small-dick-how-can-i-enlarge-my-dick/">Carl&#8217;s (21) Question: I think I have a very small dick. How can I enlarge my dick?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Kevin&#8217;s (50) Question: Dear Dr Dick. I enjoy looking at pictures of naked men. I am married to a woman. I have had sexual experiences with other men before. Does this mean I am gay or bisexual?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/kevins-50-question-dear-dr-dick-i-enjoy-looking-at-pictures-of-naked-men-i-am-married-to-a-woman-i-have-had-sexual-experiences-with-other-men-before-does-this-mean-i-am-gay-or-bisexual/</link>
				<pubDate>Tue, 11 Feb 2020 12:45:26 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=676</guid>
				<description><![CDATA[<p>Dr Dick’s response: No, the fact that you enjoy looking at naked men and that you have had sexual experiences with men previously does not&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/kevins-50-question-dear-dr-dick-i-enjoy-looking-at-pictures-of-naked-men-i-am-married-to-a-woman-i-have-had-sexual-experiences-with-other-men-before-does-this-mean-i-am-gay-or-bisexual/">Kevin&#8217;s (50) Question: Dear Dr Dick. I enjoy looking at pictures of naked men. I am married to a woman. I have had sexual experiences with other men before. Does this mean I am gay or bisexual?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: No, the fact that you enjoy looking at naked men and that you have had sexual experiences with men previously does not necessarily mean that you are gay or bisexual. I would like to normalise your possible anxiety in this regard by telling you that you are not alone. Research has shown that there are many men who are in heterosexual relationships who has / has had sexual experiences with other men. Literature distinguishes the following:</p>
<p>a) Sex: Whether a person is a male bodied or female bodied person (biological traits)<br />
b) Gender: Traditional masculine and feminine roles which were constructed by society (masculinity vs. femininity)<br />
c) Sexual orientation: Whether a person is heterosexual, homosexual (lesbian or gay) or bisexual. It is much more than just a sexual attraction. Sexual orientation also includes various other levels of attraction, including amongst others, emotional, spiritual, psychological, intellectual etc. Sexual orientation refers to “who you want to build a life with”.<br />
d) Sexual play: Refers to sexual experiences of an individual – not dependant on the person’s sexual orientation. This means that a heterosexual man might enjoy sexual experiences with other men for whichever reason – this does not mean that he is gay or bisexual. A heterosexual woman might also engage in sexual activity with other women from time to time – this does not imply that she is lesbian or bisexual. Your sexual orientation does not determine who you have sex with. People have sex for various reasons.</p>
<p>It is difficult to give you a direct answer. Sexual orientation is a wonderful journey of discovery for an individual. It might be beneficial to approach a sensitised and affirmative mental health professional who can provide guidance while you discover your own sexual orientation. Also remember to always “play safe” by using condoms and water-based lubrication and other barrier methods to reduce the risk of STI transmission.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/kevins-50-question-dear-dr-dick-i-enjoy-looking-at-pictures-of-naked-men-i-am-married-to-a-woman-i-have-had-sexual-experiences-with-other-men-before-does-this-mean-i-am-gay-or-bisexual/">Kevin&#8217;s (50) Question: Dear Dr Dick. I enjoy looking at pictures of naked men. I am married to a woman. I have had sexual experiences with other men before. Does this mean I am gay or bisexual?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Gary&#8217;s (19) Question: Dr Dick, I am always attracted to straight guys, some who are my friends and I sometimes fantasize about them. Why is this?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/garys-19-question-dr-dick-i-am-always-attracted-to-straight-guys-some-who-are-my-friends-and-i-sometimes-fantasize-about-them-why-is-this/</link>
				<pubDate>Tue, 11 Feb 2020 12:44:49 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=675</guid>
				<description><![CDATA[<p>Dr Dick’s response: You are still young and developing your identity as a young male. As humans, we cannot always predict and control whom we&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/garys-19-question-dr-dick-i-am-always-attracted-to-straight-guys-some-who-are-my-friends-and-i-sometimes-fantasize-about-them-why-is-this/">Gary&#8217;s (19) Question: Dr Dick, I am always attracted to straight guys, some who are my friends and I sometimes fantasize about them. Why is this?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: You are still young and developing your identity as a young male. As humans, we cannot always predict and control whom we get attracted to or who we find attractive. Attraction is not linked to our sexual orientation. Some straight men might find other men attractive even though they are not gay. Some straight women might find another woman attractive even though she is not lesbian. There is nothing wrong with finding your straight friends attractive and fantasising about them – you are appreciating their beauty. The most important thing is to have mutual respect for each other and not to invade each other’s privacy and personal boundaries. Sometimes it remains only a fantasy and no other action will follow and we have to respect that.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/garys-19-question-dr-dick-i-am-always-attracted-to-straight-guys-some-who-are-my-friends-and-i-sometimes-fantasize-about-them-why-is-this/">Gary&#8217;s (19) Question: Dr Dick, I am always attracted to straight guys, some who are my friends and I sometimes fantasize about them. Why is this?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>David&#8217;s (24) question: I can&#8217;t seem to find the courage to tell my family I&#8217;m gay and this is affecting every aspect of my life. Please help.</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/davids-24-question-i-cant-seem-to-find-the-courage-to-tell-my-family-im-gay-and-this-is-affecting-every-aspect-of-my-life-please-help/</link>
				<pubDate>Tue, 11 Feb 2020 12:42:57 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=674</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: I believe that one has to be “ready” before disclosing something that is of such importance. When it still feels as if&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/davids-24-question-i-cant-seem-to-find-the-courage-to-tell-my-family-im-gay-and-this-is-affecting-every-aspect-of-my-life-please-help/">David&#8217;s (24) question: I can&#8217;t seem to find the courage to tell my family I&#8217;m gay and this is affecting every aspect of my life. Please help.</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick&#8217;s response: I believe that one has to be “ready” before disclosing something that is of such importance. When it still feels as if the words get stuck in one’s throat, it probably means that one is not “ready” yet to disclose. Why it is important to be ready, is because one projects one’s own feelings onto the person that one discloses to, and that person then reacts to the disclosure with those exact same feelings. For example: should you go to your parents to tell them, but you go with fear and shame, they will pick up on your fear and shame, and may react with that same fear and shame. But when you are ready to disclose with confidence, they will pick up on your confidence, and chances are that they will react then with that same confidence. I hope this makes sense…</p>
<p>Suggestion: Why don’t you wait just a little longer before telling your parents, and first work on your own fear and finding the courage to do so? In the meantime, take a deep breath and relax about the whole issue. After all, you know that you are going to tell your parents at some stage. It just doesn’t have to be today, or even tomorrow. Lift the pressure to tell them now from your shoulders, and you will see that things will start to appear a bit more clearly.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/davids-24-question-i-cant-seem-to-find-the-courage-to-tell-my-family-im-gay-and-this-is-affecting-every-aspect-of-my-life-please-help/">David&#8217;s (24) question: I can&#8217;t seem to find the courage to tell my family I&#8217;m gay and this is affecting every aspect of my life. Please help.</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Jason&#8217;s (25) question: So, I came out to my parents about 3 years ago, and that was literally the last time we ever spoke about my sexuality. My dad keeps on asking if I have a girlfriend yet, as if he completely forgot that I am gay. I&#8217;ve been bottling up all my feelings through my entire life. I&#8217;m too scared to talk to my family again, I pushed all my friends away because of my fear of rejection, and I spend every night alone at home, comforting myself with food. I&#8217;ve picked up so much weight, and I have slipped into a very depressive state-of-mind. I&#8217;m so lonely and I just can&#8217;t seem to get my life back on track. I&#8217;m too scared to put myself out there, I mean, I&#8217;m fat and have a very boring personality, no guy would ever go for me. I suppose my question is, how do I go about embracing the person I really am, and how do I motivate myself to lose weight and become healthy once again?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/jasons-25-question-so-i-came-out-to-my-parents-about-3-years-ago-and-that-was-literally-the-last-time-we-ever-spoke-about-my-sexuality-my-dad-keeps-on-asking-if-i-have-a-girlfriend-yet-as-if-h/</link>
				<pubDate>Tue, 11 Feb 2020 12:35:30 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/ufaqs/jasons-25-question-so-i-came-out-to-my-parents-about-3-years-ago-and-that-was-literally-the-last-time-we-ever-spoke-about-my-sexuality-my-dad-keeps-on-asking-if-i-have-a-girlfriend-yet-as-if-h/</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: The fact that you are seeking help indicates that you have intuitively felt that something needs to be done. It appears your&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/jasons-25-question-so-i-came-out-to-my-parents-about-3-years-ago-and-that-was-literally-the-last-time-we-ever-spoke-about-my-sexuality-my-dad-keeps-on-asking-if-i-have-a-girlfriend-yet-as-if-h/">Jason&#8217;s (25) question: So, I came out to my parents about 3 years ago, and that was literally the last time we ever spoke about my sexuality. My dad keeps on asking if I have a girlfriend yet, as if he completely forgot that I am gay. I&#8217;ve been bottling up all my feelings through my entire life. I&#8217;m too scared to talk to my family again, I pushed all my friends away because of my fear of rejection, and I spend every night alone at home, comforting myself with food. I&#8217;ve picked up so much weight, and I have slipped into a very depressive state-of-mind. I&#8217;m so lonely and I just can&#8217;t seem to get my life back on track. I&#8217;m too scared to put myself out there, I mean, I&#8217;m fat and have a very boring personality, no guy would ever go for me. I suppose my question is, how do I go about embracing the person I really am, and how do I motivate myself to lose weight and become healthy once again?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick&#8217;s response: The fact that you are seeking help indicates that you have intuitively felt that something needs to be done. It appears your biggest enemy at this stage is isolation. And the driver of that isolation is fear. I guess the question is: How long will you allow fear to dominate and dictate your life? When is enough enough?</p>
<p>Your first responsibility in life is towards yourself. You need to take control of and responsibility for your life, your decisions, and your actions. As long as you live in fear, you project that fear, and people respond to that fear by making you feel inferior or rejecting you. It makes sense: what you think of and about yourself, other people will also think of and about you. You need to become your own best friend first and be happy within yourself. Only then will people respond positively to you. You need to make some decisions that will be good for you, and take action. Nothing will happen if you do nothing, and happiness will not find you if you hide from everything and everyone.</p>
<p>You need to take that step to get out of the house as well, not to find a partner, but to start enjoying life and making friends. I know everyone looks for that special someone, but we all need friends first. And when we are happy with whom we are, our happiness will attract that special person. I know all of this is easier said than done, but nobody can do these things for you. Only you can do it &#8211; and you can!</p>
<p>Questions you can consider:<br />
• Who is Jason (strengths and weaknesses)?<br />
• What makes you happy?<br />
• What are your interests? Anything you can pursue as something to do with your time, something that will make you feel happier…<br />
• What do you want in life (not just a life-partner)? Do you want it badly enough to do something about it?<br />
• What are the steps needed to get what you want?</p>
<p>Remember: baby steps! It doesn’t happen all at once. Most of the time it takes a while before we see results. You need to do the work.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/jasons-25-question-so-i-came-out-to-my-parents-about-3-years-ago-and-that-was-literally-the-last-time-we-ever-spoke-about-my-sexuality-my-dad-keeps-on-asking-if-i-have-a-girlfriend-yet-as-if-h/">Jason&#8217;s (25) question: So, I came out to my parents about 3 years ago, and that was literally the last time we ever spoke about my sexuality. My dad keeps on asking if I have a girlfriend yet, as if he completely forgot that I am gay. I&#8217;ve been bottling up all my feelings through my entire life. I&#8217;m too scared to talk to my family again, I pushed all my friends away because of my fear of rejection, and I spend every night alone at home, comforting myself with food. I&#8217;ve picked up so much weight, and I have slipped into a very depressive state-of-mind. I&#8217;m so lonely and I just can&#8217;t seem to get my life back on track. I&#8217;m too scared to put myself out there, I mean, I&#8217;m fat and have a very boring personality, no guy would ever go for me. I suppose my question is, how do I go about embracing the person I really am, and how do I motivate myself to lose weight and become healthy once again?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
