<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Sexual Health and Safety &#8211; Men2Men by OUT</title>
	<atom:link href="http://studio256.gitlab.io/men2men/ufaq-category/sexual-health-and-safety/feed/" rel="self" type="application/rss+xml" />
	<link>http://studio256.gitlab.io/men2men/</link>
	<description></description>
	<lastBuildDate>Tue, 11 Feb 2020 12:57:52 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Steve&#8217;s (26) question: If one enjoys anal sex and rimming so much, what is the cleanest way to get the anal passage clean before the act?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/steves-26-question-if-one-enjoys-anal-sex-and-rimming-so-much-what-is-the-cleanest-way-to-get-the-anal-passage-clean-before-the-act/</link>
				<pubDate>Tue, 11 Feb 2020 12:57:52 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=689</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response The main function of the rectum is to act as a passageway for faeces. Faeces are not normally stored in the rectum&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/steves-26-question-if-one-enjoys-anal-sex-and-rimming-so-much-what-is-the-cleanest-way-to-get-the-anal-passage-clean-before-the-act/">Steve&#8217;s (26) question: If one enjoys anal sex and rimming so much, what is the cleanest way to get the anal passage clean before the act?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><strong>Dr Dick&#8217;s response</strong></p>
<p>The main function of the rectum is to act as a passageway for faeces. Faeces are not normally stored in the rectum unless you are about to have a bowel movement. However, small amounts may remain in the rectum in between movements. There is also the risk of transmitting Hepatitis B if in contact with an infected partner.</p>
<p>If you are wanting to douche (squirt water in the anus using an enema bottle) then be sure to use a vinegar mixture (half a teaspoon of vinegar with 500ml luke warm water) and not a betadine douche. The betadine douche has been found to disrupt the mucosal barrier of the rectum and thus increase the risk of HIV infection. Be sure not to douche too frequently and also be sure to lie on your side when douching as this will reduce the likelihood of any injury. It is also through injury that one&#8217;s risk of HIV transmission increases.</p>
<p><strong>Other helpful tips include:</strong></p>
<ul>
<li>Ensure that you use condoms correctly and consistently with plenty of water-based lube when engaging in anal intercourse;</li>
<li>When rimming be sure to use either a dental dam/ non-microwavable cling wrap/ a cut open condom;</li>
<li>Purchase and use sterile wet wipes to use at the point of anal play;</li>
<li>Before and after anal intercourse be sure to clean the insertive partner&#8217;s penis and the receptive partner&#8217;s anus thoroughly (not vigorously); and</li>
<li>Rimming should be avoided if you have a cut or sore in your mouth or gums.</li>
</ul>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/steves-26-question-if-one-enjoys-anal-sex-and-rimming-so-much-what-is-the-cleanest-way-to-get-the-anal-passage-clean-before-the-act/">Steve&#8217;s (26) question: If one enjoys anal sex and rimming so much, what is the cleanest way to get the anal passage clean before the act?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Michael’s (26) question:How &#8220;deep&#8221; can a penis or toy go into the anus, without danger/damage to the anus? And if you tear the walls of the anus, is it dangerous and sore?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/michaels-26-questionhow-deep-can-a-penis-or-toy-go-into-the-anus-without-danger-damage-to-the-anus-and-if-you-tear-the-walls-of-the-anus-is-it-dangerous-and-sore/</link>
				<pubDate>Tue, 11 Feb 2020 12:55:51 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=688</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response To answer your question I need to tackle this from different sides: Learn about the shape of your rectum. The depth of&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/michaels-26-questionhow-deep-can-a-penis-or-toy-go-into-the-anus-without-danger-damage-to-the-anus-and-if-you-tear-the-walls-of-the-anus-is-it-dangerous-and-sore/">Michael’s (26) question:How &#8220;deep&#8221; can a penis or toy go into the anus, without danger/damage to the anus? And if you tear the walls of the anus, is it dangerous and sore?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p><strong>Dr Dick&#8217;s response</strong><br />
To answer your question I need to tackle this from different sides:</p>
<ul>
<li>Learn about the shape of your rectum. The depth of anus is not that straight forward. It is not as simple as saying 15cm because the whole alimentary canal consists of (in a southerly direction) rectum, anal canal, and then the anus. The rectum is not straight, after the short anal canal, the rectum tilts (sometimes as much as 90 degrees) toward the front of the body. Then, after a few centimetres, it curves towards the front of the body again. A useful tip here is to learn about the shape of your rectum by gently inserting your finger or a soft object (make sure that it is a safe object, like a dildo with a flared base &#8211; having a flared base will help to ensure that the dildo does not slip completely inside your rectum should you lose your grip) into your anus, and then explore your rectum by probing in different angles. Concentrate on how this feels. By exploring yourself, you will gain firsthand knowledge about what feels ok and what is not. For example, depending on the direction of the penis in the anus, shorter or deeper penetrations may be acceptable. As such, penetrating deeply in a direction towards the back of the body or straight up might not be advisable, given the shape of the rectum.</li>
<li>It is all in the technique. Many gay men think that pleasure is derived from hard thrusts or deep penetrations. But this is not necessarily true. The anal region and rectum has an abundance of nerve endings, with the highest concentration at the opening of the anus (a pleasure point). Thereafter, the anus responds mostly to feelings of pressure or fullness. Putting pressure on the ventral wall (towards the front of the body), a few centimetres in, will stimulate the prostate gland (a walnut shaped gland situated behind the pubic bone). Try to locate this spot by gently inserting your finger into your anus and then point your finger towards the front of your body. If stimulated, it should intensify your pleasure when climaxing. Thus, most of your pleasure will be derived from the opening of the anus and the prostate gland, which does not require any full thrusts or deep penetration.</li>
<li>Know about the risks. The main function of the rectum is to act as a passageway for faeces. Faeces is not normally stored in the rectum unless you are about to have a bowel movement. However, small amounts may be remain in the rectum in between movements. It is for this reason that it is recommended that we use condoms during anal intercourse (to minimise the risk of getting Hepatitis B for example). In addition, the lining in the rectum is very thin, not very elasticated, and can rip very easily. It is therefore VERY IMPORTANT that you 1) always practise safer sex using condoms correctly and consistently, and 2) limit the amount of stress placed on the rectum by taking it easy, cutting your fingernails short, and using plenty of water-based lubrication. Reckless or rough anal sex may result in serious damage: a tear in the lining of the rectum or an anal fissure. After repeated damage, the risk of fecal incontinence becomes significant.</li>
</ul>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/michaels-26-questionhow-deep-can-a-penis-or-toy-go-into-the-anus-without-danger-damage-to-the-anus-and-if-you-tear-the-walls-of-the-anus-is-it-dangerous-and-sore/">Michael’s (26) question:How &#8220;deep&#8221; can a penis or toy go into the anus, without danger/damage to the anus? And if you tear the walls of the anus, is it dangerous and sore?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Jack&#8217;s (27) Question: I had sex with someone and the condom broke. I pulled out quickly. Could I have contracted something?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/jacks-27-question-i-had-sex-with-someone-and-the-condom-broke-i-pulled-out-quickly-could-i-have-contracted-something/</link>
				<pubDate>Tue, 11 Feb 2020 12:55:01 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=687</guid>
				<description><![CDATA[<p>Dr Dick’s response: It is difficult to tell if someone you had sex with had any infections. You might have been exposed to infections if&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/jacks-27-question-i-had-sex-with-someone-and-the-condom-broke-i-pulled-out-quickly-could-i-have-contracted-something/">Jack&#8217;s (27) Question: I had sex with someone and the condom broke. I pulled out quickly. Could I have contracted something?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: It is difficult to tell if someone you had sex with had any infections. You might have been exposed to infections if the condom broke. To be on the safe side and to put your mind at ease, I would recommend that you visit your doctor / clinic for a STI / HIV screening. Your sex partner should preferably do the same. PEP is also available. PEP stands for Post Exposure Prophylaxis and consists of a course of medication begun within 72 hours of the sexual encounter that will, in most cases, stop the virus in its tracks before it can take hold in the body. PEP does not provide protection against other sexually transmitted infections. Always use a condom-compatible lubricant with a condom when practicing penetrative sex. It will make penetration easier and lessen the risk of the condom breaking.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/jacks-27-question-i-had-sex-with-someone-and-the-condom-broke-i-pulled-out-quickly-could-i-have-contracted-something/">Jack&#8217;s (27) Question: I had sex with someone and the condom broke. I pulled out quickly. Could I have contracted something?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Mel&#8217;s (24) Question: My testicles are very sensitive during sex and also when I masturbate. What could the causes be?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/mels-24-question-my-testicles-are-very-sensitive-during-sex-and-also-when-i-masturbate-what-could-the-causes-be/</link>
				<pubDate>Tue, 11 Feb 2020 12:54:27 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=686</guid>
				<description><![CDATA[<p>Dr Dick’s response: There could be various causes to the sensitivity you experience in your testicles. It would be best to consult with a doctor&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/mels-24-question-my-testicles-are-very-sensitive-during-sex-and-also-when-i-masturbate-what-could-the-causes-be/">Mel&#8217;s (24) Question: My testicles are very sensitive during sex and also when I masturbate. What could the causes be?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: There could be various causes to the sensitivity you experience in your testicles. It would be best to consult with a doctor who could then refer you to a urologist. It is always important to seek medical advice for matters regarding testicular health.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/mels-24-question-my-testicles-are-very-sensitive-during-sex-and-also-when-i-masturbate-what-could-the-causes-be/">Mel&#8217;s (24) Question: My testicles are very sensitive during sex and also when I masturbate. What could the causes be?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Takalani&#8217;s (29) Question: Dr Dick, I recently had protected sex with a top who penetrated my ass with Clere glycerine oil as lube. He used a latex condom. It wasn&#8217;t vigorous penetration and I ensured that his condom was not leaking/broken after he ejaculated. What are the chances that I may be at risk of infection? My concern was the type of condom used (Choice) and the lube (Clere glycerine).</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/takalanis-29-question-dr-dick-i-recently-had-protected-sex-with-a-top-who-penetrated-my-ass-with-clere-glycerine-oil-as-lube-he-used-a-latex-condom-it-wasnt-vigorous-penetration-and-i-ensure/</link>
				<pubDate>Tue, 11 Feb 2020 12:54:00 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=685</guid>
				<description><![CDATA[<p>Dr Dick’s response: It is not recommended that you use condoms with an oil-based lubricant as this can lead to the condom tearing or bursting.&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/takalanis-29-question-dr-dick-i-recently-had-protected-sex-with-a-top-who-penetrated-my-ass-with-clere-glycerine-oil-as-lube-he-used-a-latex-condom-it-wasnt-vigorous-penetration-and-i-ensure/">Takalani&#8217;s (29) Question: Dr Dick, I recently had protected sex with a top who penetrated my ass with Clere glycerine oil as lube. He used a latex condom. It wasn&#8217;t vigorous penetration and I ensured that his condom was not leaking/broken after he ejaculated. What are the chances that I may be at risk of infection? My concern was the type of condom used (Choice) and the lube (Clere glycerine).</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: It is not recommended that you use condoms with an oil-based lubricant as this can lead to the condom tearing or bursting. Instead, use water based lubrication with condoms. In this case, if the condom was intact and there were no leaks or breakages then your risk of contracting HIV is slim to none. HIV is only spread once bodily fluids are exchanged from one person to the other. Whether it is through blood, semen or vaginal fluids. If no ejaculation was passed on to you from your partner to you then there is nothing to worry about.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/takalanis-29-question-dr-dick-i-recently-had-protected-sex-with-a-top-who-penetrated-my-ass-with-clere-glycerine-oil-as-lube-he-used-a-latex-condom-it-wasnt-vigorous-penetration-and-i-ensure/">Takalani&#8217;s (29) Question: Dr Dick, I recently had protected sex with a top who penetrated my ass with Clere glycerine oil as lube. He used a latex condom. It wasn&#8217;t vigorous penetration and I ensured that his condom was not leaking/broken after he ejaculated. What are the chances that I may be at risk of infection? My concern was the type of condom used (Choice) and the lube (Clere glycerine).</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Robert&#8217;s (23) question: I am still a virgin and bottom. Badly want to have sex, but scared of the pain that I might experience when he&#8217;s inside me. I don&#8217;t know, but I also think that I also have a very tight anus (Can one really have a very tight anus?) &#8211; I have experienced hemorrhoids even when trying hard to avoid them. What if I get them after being penetrated? He&#8217;s 37, I&#8217;m 23, does that matter?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/roberts-23-question-i-am-still-a-virgin-and-bottom-badly-want-to-have-sex-but-scared-of-the-pain-that-i-might-experience-when-hes-inside-me-i-dont-know-but-i-also-think-that-i-also-have-a/</link>
				<pubDate>Tue, 11 Feb 2020 12:53:25 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=684</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: Basically everybody has a “tight” anus, since we are not born with an anus that’s “ready for action”. That means that one&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/roberts-23-question-i-am-still-a-virgin-and-bottom-badly-want-to-have-sex-but-scared-of-the-pain-that-i-might-experience-when-hes-inside-me-i-dont-know-but-i-also-think-that-i-also-have-a/">Robert&#8217;s (23) question: I am still a virgin and bottom. Badly want to have sex, but scared of the pain that I might experience when he&#8217;s inside me. I don&#8217;t know, but I also think that I also have a very tight anus (Can one really have a very tight anus?) &#8211; I have experienced hemorrhoids even when trying hard to avoid them. What if I get them after being penetrated? He&#8217;s 37, I&#8217;m 23, does that matter?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick&#8217;s response: Basically everybody has a “tight” anus, since we are not born with an anus that’s “ready for action”. That means that one has to be “prepared” first before being penetrated, and especially so when it happens for the first time. The best way to be “prepared”, is when your partner uses his finger to first stimulate the anus to relax it a little and slowly begin to enter his finger into your anus.</p>
<p>Use a lot of water-based lube in the process. I would suggest that that could be enough for the very first time, and slowly work your way towards being penetrated by your partner’s penis the second or even third time you attempt being penetrated. It may be a little painful when being penetrated, especially the very first time.</p>
<p>The key is to take it very slowly. Enter the penis slowly and just a little (tip of the penis) at first, until you feel comfortable and then continue a little further. Should you feel too uncomfortable and it is too painful, rather stop, and try again another time. Be aware that a percentage of men have a condition that causes the anus not to be able to “open” up for penetration.</p>
<p>Haemorrhoids can be caused by penetration, but more damage can be done if you are not careful and you do not take it slowly. This, however, is usually because of rough sex where people are not taking it slowly and carefully. If your partner&#8217;s is very thick, you could rather try with a dildo first.</p>
<p>The saying goes: Age is but a number. If the age difference doesn’t bother the two of you, then it should be fine.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/roberts-23-question-i-am-still-a-virgin-and-bottom-badly-want-to-have-sex-but-scared-of-the-pain-that-i-might-experience-when-hes-inside-me-i-dont-know-but-i-also-think-that-i-also-have-a/">Robert&#8217;s (23) question: I am still a virgin and bottom. Badly want to have sex, but scared of the pain that I might experience when he&#8217;s inside me. I don&#8217;t know, but I also think that I also have a very tight anus (Can one really have a very tight anus?) &#8211; I have experienced hemorrhoids even when trying hard to avoid them. What if I get them after being penetrated? He&#8217;s 37, I&#8217;m 23, does that matter?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Eben&#8217;s question (20): I am a 20-year-old bottom gay, and I have been experiencing very painful pains after my last sex, causing me to have a discharge. I also get constipated with a slimy discharge. I don&#8217;t want to go to a health professional or facility for I%E2%80%99m not comfortable having these kinds of conversations. I&#8217;m also situated in a very small environment with few gay rights facilities.</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/ebens-question-20-i-am-a-20-year-old-bottom-gay-and-i-have-been-experiencing-very-painful-pains-after-my-last-sex-causing-me-to-have-a-discharge-i-also-get-constipated-with-a-slimy-discharge/</link>
				<pubDate>Tue, 11 Feb 2020 12:52:59 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=683</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: It is very difficult for me to tell you exactly what the problem is if I haven’t examined you. There are however&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/ebens-question-20-i-am-a-20-year-old-bottom-gay-and-i-have-been-experiencing-very-painful-pains-after-my-last-sex-causing-me-to-have-a-discharge-i-also-get-constipated-with-a-slimy-discharge/">Eben&#8217;s question (20): I am a 20-year-old bottom gay, and I have been experiencing very painful pains after my last sex, causing me to have a discharge. I also get constipated with a slimy discharge. I don&#8217;t want to go to a health professional or facility for I%E2%80%99m not comfortable having these kinds of conversations. I&#8217;m also situated in a very small environment with few gay rights facilities.</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick&#8217;s response: It is very difficult for me to tell you exactly what the problem is if I haven’t examined you. There are however some possible options that we could be dealing with here. The discharge might be due to a sexually transmitted infection (STI). Gonorrhoea, chlamydia and prostatitis can cause you to have a discharge anally. You will need antibiotics to treat all of the above infections if you have one of them as soon as possible.</p>
<p>The other option is that because of the anal sex, your rectum might have stretched a bit too much and did not fully recover. This caused your anal and rectal muscles to not contract properly and faecal matter could leak out and cause the slimy discharge. Unfortunately, whatever the reason behind your condition, you are going to have to bite the bullet and consult with a health care professional.</p>
<p>You may want to contact OUT&#8217;s gay-friendly clinic if you are in the Pretoria / Gauteng area (<a href="http://www.out.org.za/index.php/what-s-hot/services/56-out-clinic" target="_blank" rel="noopener noreferrer">click here</a>). Or you may want to have a look at other gay-friendly clinics around South Africa, which you can find <a href="http://www.h4m.mobi/find-a-clinic.php" target="_blank" rel="noopener noreferrer">here</a>.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/ebens-question-20-i-am-a-20-year-old-bottom-gay-and-i-have-been-experiencing-very-painful-pains-after-my-last-sex-causing-me-to-have-a-discharge-i-also-get-constipated-with-a-slimy-discharge/">Eben&#8217;s question (20): I am a 20-year-old bottom gay, and I have been experiencing very painful pains after my last sex, causing me to have a discharge. I also get constipated with a slimy discharge. I don&#8217;t want to go to a health professional or facility for I%E2%80%99m not comfortable having these kinds of conversations. I&#8217;m also situated in a very small environment with few gay rights facilities.</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Rico&#8217;s (17) question: Hello Dr. Dick. I am a teenager suffering from a severe case of premature ejaculation, I have tried methods like the start stop method and kegel exercises, but they have not helped me a little bit. I have looked into medications, but I simply can&#8217;t afford them, can you please help me or tell me what to do?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/ricos-17-question-hello-dr-dick-i-am-a-teenager-suffering-from-a-severe-case-of-premature-ejaculation-i-have-tried-methods-like-the-start-stop-method-and-kegel-exercises-but-they-have-not-hel/</link>
				<pubDate>Tue, 11 Feb 2020 12:52:23 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=682</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: It is very natural for some guys to have premature ejaculation when they start having sex. It will get better with time.&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/ricos-17-question-hello-dr-dick-i-am-a-teenager-suffering-from-a-severe-case-of-premature-ejaculation-i-have-tried-methods-like-the-start-stop-method-and-kegel-exercises-but-they-have-not-hel/">Rico&#8217;s (17) question: Hello Dr. Dick. I am a teenager suffering from a severe case of premature ejaculation, I have tried methods like the start stop method and kegel exercises, but they have not helped me a little bit. I have looked into medications, but I simply can&#8217;t afford them, can you please help me or tell me what to do?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick&#8217;s response: It is very natural for some guys to have premature ejaculation when they start having sex. It will get better with time. Have a look at this article and see if it will help: <a href="http://www.everydayhealth.com/sexual-health/dr-laura-berman-tips-to-help-stop-premature-ejaculation.aspx" target="_blank" rel="noopener noreferrer">http://www.everydayhealth.com/sexual-health/dr-laura-berman-tips-to-help-stop-premature-ejaculation.aspx</a></p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/ricos-17-question-hello-dr-dick-i-am-a-teenager-suffering-from-a-severe-case-of-premature-ejaculation-i-have-tried-methods-like-the-start-stop-method-and-kegel-exercises-but-they-have-not-hel/">Rico&#8217;s (17) question: Hello Dr. Dick. I am a teenager suffering from a severe case of premature ejaculation, I have tried methods like the start stop method and kegel exercises, but they have not helped me a little bit. I have looked into medications, but I simply can&#8217;t afford them, can you please help me or tell me what to do?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Steven&#8217;s (26) question: About a month ago I had sex with a guy when I was intoxicated. We didn&#8217;t use any lube and I believe I received an anal fissure from it. The pain has since subsided and I can go to the bathroom with no pain or bleeding. Unfortunately, I tried using my dildo on myself after a month and a half because I thought I was fully healed. The results were some slight pain and then bleeding. How much longer should I wait until I try anal play or sex again? My fear is that I will never be able to bottom again and that is giving me a lot of anxiety. Should I go for surgery?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/stevens-26-question-about-a-month-ago-i-had-sex-with-a-guy-when-i-was-intoxicated-we-didnt-use-any-lube-and-i-believe-i-received-an-anal-fissure-from-it-the-pain-has-since-subsided-and-i-can/</link>
				<pubDate>Tue, 11 Feb 2020 12:51:21 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=680</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: It usually takes about four weeks after the fissure has healed before you can have anal sex again. Because the anal wall&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/stevens-26-question-about-a-month-ago-i-had-sex-with-a-guy-when-i-was-intoxicated-we-didnt-use-any-lube-and-i-believe-i-received-an-anal-fissure-from-it-the-pain-has-since-subsided-and-i-can/">Steven&#8217;s (26) question: About a month ago I had sex with a guy when I was intoxicated. We didn&#8217;t use any lube and I believe I received an anal fissure from it. The pain has since subsided and I can go to the bathroom with no pain or bleeding. Unfortunately, I tried using my dildo on myself after a month and a half because I thought I was fully healed. The results were some slight pain and then bleeding. How much longer should I wait until I try anal play or sex again? My fear is that I will never be able to bottom again and that is giving me a lot of anxiety. Should I go for surgery?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick&#8217;s response: It usually takes about four weeks after the fissure has healed before you can have anal sex again. Because the anal wall has been torn once, you may have a weak spot in that area for a while until the soft tissue has been completely healed and strengthened. I would suggest that you don’t engage in any form of anal activities for at least four weeks from today. Give it time to heal properly. And then take it gently. If the problem persists, consult with your general practitioner.</p>
<p>You may want to contact OUT&#8217;s gay-friendly clinic if you are in the Pretoria / Gauteng area (<a href="http://www.out.org.za/index.php/what-s-hot/services/56-out-clinic" target="_blank" rel="noopener noreferrer">click here</a>). Or you may want to have a look at other gay-friendly clinics around South Africa, which you can find <a href="http://www.h4m.mobi/find-a-clinic.php" target="_blank" rel="noopener noreferrer">here</a>.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/stevens-26-question-about-a-month-ago-i-had-sex-with-a-guy-when-i-was-intoxicated-we-didnt-use-any-lube-and-i-believe-i-received-an-anal-fissure-from-it-the-pain-has-since-subsided-and-i-can/">Steven&#8217;s (26) question: About a month ago I had sex with a guy when I was intoxicated. We didn&#8217;t use any lube and I believe I received an anal fissure from it. The pain has since subsided and I can go to the bathroom with no pain or bleeding. Unfortunately, I tried using my dildo on myself after a month and a half because I thought I was fully healed. The results were some slight pain and then bleeding. How much longer should I wait until I try anal play or sex again? My fear is that I will never be able to bottom again and that is giving me a lot of anxiety. Should I go for surgery?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
