.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {color: #454545;}
.elementor-widget-heading .elementor-heading-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-image .widget-image-caption {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-text-editor {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {background-color: #454545;}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {color: #454545;border-color: #454545;}
.elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button {font-family: "Roboto",Sans-serif;font-weight: 500;background-color: #61ce70;}
.elementor-widget-divider {--divider-border-color: #54595f;}
.elementor-widget-divider .elementor-divider__text {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {background-color: #54595f;}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon {color: #54595f;border-color: #54595f;}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg {fill: #54595f;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-title {color: #454545;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {background-color: #454545;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon {color: #454545;border-color: #454545;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg {fill: #454545;}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {background-color: #454545;}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon {fill: #454545;color: #454545;border-color: #454545;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title {color: #454545;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-star-rating .elementor-star-rating__title {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-image-carousel .elementor-image-carousel-caption {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-image-gallery .gallery-item .gallery-caption {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {border-color: #7a7a7a;}
.elementor-widget-icon-list .elementor-icon-list-icon i {color: #454545;}
.elementor-widget-icon-list .elementor-icon-list-icon svg {fill: #454545;}
.elementor-widget-icon-list .elementor-icon-list-text {color: #54595f;}
.elementor-widget-icon-list .elementor-icon-list-item {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-counter .elementor-counter-number-wrapper {color: #454545;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-counter .elementor-counter-title {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {background-color: #454545;}
.elementor-widget-progress .elementor-title {color: #454545;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-testimonial .elementor-testimonial-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-testimonial .elementor-testimonial-name {color: #454545;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-testimonial .elementor-testimonial-job {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-tabs .elementor-tab-title {color: #454545;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-tabs .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-tabs .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title {color: #454545;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title {color: #454545;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-alert .elementor-alert-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-alert .elementor-alert-description {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-eael-advanced-data-table th textarea, .elementor-widget-eael-advanced-data-table th {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-advanced-data-table td textarea, .elementor-widget-eael-advanced-data-table td {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-advanced-data-table .ea-advanced-data-table-search {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-advanced-data-table .ea-advanced-data-table-pagination a {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-caldera-form .eael-contact-form-description {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-contact-form-7 .eael-contact-form-7 .eael-contact-form-7-title {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-contact-form-7 .eael-contact-form-7 .eael-contact-form-7-description {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-contact-form-7 .eael-contact-form-7 .wpcf7-form-control.wpcf7-text, .elementor-widget-eael-contact-form-7 .eael-contact-form-7 .wpcf7-form-control.wpcf7-textarea, .elementor-widget-eael-contact-form-7 .eael-contact-form-7 .wpcf7-form-control.wpcf7-select {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-contact-form-7 .eael-contact-form-7 .wpcf7-form label {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-contact-form-7 .eael-contact-form-7 .wpcf7-form-control::-webkit-input-placeholder {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-contact-form-7 .eael-contact-form-7 .wpcf7-form input[type="submit"] {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-contact-form-7 .eael-contact-form-7 .wpcf7-validation-errors {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-countdown .eael-countdown-digits::after {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-countdown .eael-countdown-digits {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-countdown .eael-countdown-label {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-countdown .eael-countdown-finish-message .expiry-title {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.eael-countdown-finish-text {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-creative-button .eael-creative-button .cretive-button-text, .elementor-widget-eael-creative-button .eael-creative-button--winona::after {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-facebook-feed .eael-facebook-feed-card .eael-facebook-feed-item .eael-facebook-feed-item-inner .eael-facebook-feed-item-header .eael-facebook-feed-item-user .eael-facebook-feed-username {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-facebook-feed .eael-facebook-feed-card .eael-facebook-feed-item .eael-facebook-feed-item-inner .eael-facebook-feed-item-header .eael-facebook-feed-post-time {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-facebook-feed .eael-facebook-feed-card .eael-facebook-feed-item .eael-facebook-feed-item-inner .eael-facebook-feed-item-content .eael-facebook-feed-message {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-facebook-feed .eael-facebook-feed-card .eael-facebook-feed-item .eael-facebook-feed-item-inner .eael-facebook-feed-preview-wrap .eael-facebook-feed-url-preview .eael-facebook-feed-url-host {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-facebook-feed .eael-facebook-feed-card .eael-facebook-feed-item .eael-facebook-feed-item-inner .eael-facebook-feed-preview-wrap .eael-facebook-feed-url-preview .eael-facebook-feed-url-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-facebook-feed .eael-facebook-feed-card .eael-facebook-feed-item .eael-facebook-feed-item-inner .eael-facebook-feed-preview-wrap .eael-facebook-feed-url-preview .eael-facebook-feed-url-description {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-facebook-feed .eael-facebook-feed-overlay .eael-facebook-feed-item .eael-facebook-feed-item-overlay, .elementor-widget-eael-facebook-feed .eael-facebook-feed-card .eael-facebook-feed-item .eael-facebook-feed-item-inner .eael-facebook-feed-item-footer {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-eael-fancy-text .eael-fancy-text-prefix {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-fancy-text .eael-fancy-text-strings, .elementor-widget-eael-fancy-text .typed-cursor {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-fancy-text .eael-fancy-text-suffix {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-feature-list .connector-type-classic .connector {border-color: #454545;}
.elementor-widget-eael-feature-list .connector-type-modern .eael-feature-list-item:before, .elementor-widget-eael-feature-list .connector-type-modern .eael-feature-list-item:after {border-color: #454545;}
.elementor-widget-eael-feature-list .eael-feature-list-content-box .eael-feature-list-title, .elementor-widget-eael-feature-list .eael-feature-list-content-box .eael-feature-list-title > a, .elementor-widget-eael-feature-list .eael-feature-list-content-box .eael-feature-list-title:visited {color: #454545;}
.elementor-widget-eael-feature-list .eael-feature-list-content-box .eael-feature-list-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-feature-list .eael-feature-list-content-box .eael-feature-list-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-eael-filterable-gallery .fg-caption-head .fg-item-price {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-filterable-gallery .fg-caption-head .fg-item-ratings {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-filterable-gallery .fg-item-category span {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-filterable-gallery .fg-filter-trigger > span {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-filterable-gallery .fg-layout-3-filter-controls li.control {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-filterable-gallery .eael-gallery-load-more .eael-filterable-gallery-load-more-text {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-fluentform .eael-fluentform-description {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-gravity-form .eael-gravity-form .gform_wrapper .gform_title, .elementor-widget-eael-gravity-form .eael-gravity-form .eael-gravity-form-title {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-gravity-form .eael-gravity-form .gform_wrapper .gform_description, .elementor-widget-eael-gravity-form .eael-gravity-form .eael-gravity-form-description {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-gravity-form .eael-gravity-form .gfield input[type="text"], .elementor-widget-eael-gravity-form .eael-gravity-form .gfield textarea, .elementor-widget-eael-gravity-form .eael-gravity-form .gfield select {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-gravity-form .eael-gravity-form .gfield.gsection .gsection_title {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-gravity-form .eael-gravity-form .gform_footer input[type="submit"] {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-ninja .eael-ninja-form .eael-contact-form-description {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-ninja .eael-ninja-form .submit-container input[type="button"] {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-ninja .eael-ninja-form .nf-form-fields-required {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-post-grid .eael-entry-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-post-grid .eael-grid-post-excerpt p {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-eael-post-grid .eael-entry-meta > div, .elementor-widget-eael-post-grid .eael-entry-meta > span {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-eael-post-timeline .eael-timeline-post-title h2 {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-post-timeline .eael-timeline-post-excerpt p {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-eael-progress-bar .eael-progressbar-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-progress-bar .eael-progressbar-count-wrap {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-progress-bar .eael-progressbar-half-circle-after span {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-weform .eael-weform-container ul.wpuf-form .wpuf-submit input[type="submit"] {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-eael-wpforms .eael-contact-form-description, .elementor-widget-eael-wpforms .wpforms-description {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-wpforms .eael-wpforms .wpforms-field label {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-wpforms .eael-wpforms .wpforms-field input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .elementor-widget-eael-wpforms .eael-wpforms .wpforms-field textarea, .elementor-widget-eael-wpforms .eael-wpforms .wpforms-field select {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-eael-wpforms .eael-wpforms .wpforms-submit-container .wpforms-submit {font-family: "Roboto",Sans-serif;font-weight: 500;}