.elementor-582 .elementor-element.elementor-element-5567df93 {margin-top: 0px;margin-bottom: 20px;}
@media (max-width:1024px) {.elementor-582 .elementor-element.elementor-element-15835e1f > .elementor-element-populated {padding: 0px 20px 0px 20px;}}
@media (max-width:767px) {.elementor-582 .elementor-element.elementor-element-5567df93 {padding: 0px 0px 0px 0px;}
	.elementor-582 .elementor-element.elementor-element-15835e1f > .elementor-element-populated {padding: 0px 20px 0px 20px;}}