.elementor-619 .elementor-element.elementor-element-4074178 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-bc-flex-widget .elementor-619 .elementor-element.elementor-element-79fd625.elementor-column .elementor-column-wrap {align-items: flex-start;}
.elementor-619 .elementor-element.elementor-element-79fd625.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: flex-start;align-items: flex-start;}
.elementor-619 .elementor-element.elementor-element-79fd625 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-619 .elementor-element.elementor-element-47eee17f > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-619 .elementor-element.elementor-element-1895fff .eael-gravity-form .validation_message {display: block !important;}
.elementor-619 .elementor-element.elementor-element-1895fff .eael-gravity-form .validation_error {display: block !important;}
.elementor-619 .elementor-element.elementor-element-1895fff .eael-gravity-form .gfield.gsection {border-bottom-style: solid;border-bottom-width: 1px;}
.elementor-619 .elementor-element.elementor-element-1895fff .eael-gravity-form .gform_footer input[type="submit"] {width: 100px;}
.elementor-619 .elementor-element.elementor-element-1895fff .eael-gravity-form .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .elementor-619 .elementor-element.elementor-element-1895fff .gform_wrapper li.gfield_error textarea {border-width: 1px;}