.elementor-513 .elementor-element.elementor-element-a330443 .elementor-repeater-item-2ab00e9 .swiper-slide-bg {background-color: #833ca3;background-image: url("http://studio256.gitlab.io/men2men/wp-content/uploads/2020/02/prep_faq_2018_out_1.jpg");background-size: cover;}
.elementor-513 .elementor-element.elementor-element-a330443 .elementor-repeater-item-2ab00e9 .swiper-slide-inner {align-items: flex-end;}
.elementor-513 .elementor-element.elementor-element-a330443 .elementor-repeater-item-62b36db .swiper-slide-bg {background-color: #4054b2;background-image: url("http://studio256.gitlab.io/men2men/wp-content/uploads/2020/02/ten_reasons_to_get_tested.jpg");background-size: cover;}
.elementor-513 .elementor-element.elementor-element-a330443 .elementor-repeater-item-002973b .swiper-slide-bg {background-color: #1abc9c;background-image: url("http://studio256.gitlab.io/men2men/wp-content/uploads/2020/02/2.jpg");background-size: cover;}
.elementor-513 .elementor-element.elementor-element-a330443 .elementor-repeater-item-fdb38c1 .swiper-slide-bg {background-color: #bbb;background-image: url("http://studio256.gitlab.io/men2men/wp-content/uploads/2020/02/4.jpg");background-size: cover;}
.elementor-513 .elementor-element.elementor-element-a330443 .elementor-repeater-item-3fea23d .swiper-slide-bg {background-color: #bbb;background-image: url("http://studio256.gitlab.io/men2men/wp-content/uploads/2020/02/male_rape_break_the_silence_2.jpg");background-size: cover;}
.elementor-513 .elementor-element.elementor-element-a330443 .swiper-slide {height: 518px;transition-duration: calc(5000ms * 1.2);}
.elementor-513 .elementor-element.elementor-element-a330443 .swiper-slide-contents {max-width: 66%;}
.elementor-513 .elementor-element.elementor-element-a330443 .swiper-slide-inner {text-align: center;}
.elementor-msie .elementor-513 .elementor-element.elementor-element-8ce68d7 .elementor-portfolio-item {width: calc(100% / 2);}
.elementor-513 .elementor-element.elementor-element-8ce68d7 .post-grid-inner {text-align: left;}
.elementor-513 .elementor-element.elementor-element-8ce68d7 .wpcap-grid-container {grid-column-gap: 6px;grid-row-gap: 6px;}
.elementor-513 .elementor-element.elementor-element-8ce68d7 .wpcap-grid-container .wpcap-post {border-style: solid;border-width: 0px 0px 0px 0px;border-radius: 0px;}
.elementor-513 .elementor-element.elementor-element-8ce68d7 .post-grid-inner .post-grid-thumbnail img {border-radius: 0px 0px 0px 0px;}
.elementor-513 .elementor-element.elementor-element-8ce68d7 .wpcap-grid-container .wpcap-post .title, .elementor-513 .elementor-element.elementor-element-8ce68d7 .wpcap-grid-container .wpcap-post .title > a {line-height: 1.2em;margin: -20px 0px 0px 0px;}
.elementor-513 .elementor-element.elementor-element-683d1ef .eael-grid-post-holder {background-color: #fff;}
.elementor-513 .elementor-element.elementor-element-683d1ef .eael-entry-title a {color: #303133;}
.elementor-513 .elementor-element.elementor-element-683d1ef .eael-entry-title:hover, .elementor-513 .elementor-element.elementor-element-683d1ef .eael-entry-title a:hover {color: #23527c;}
.elementor-513 .elementor-element.elementor-element-683d1ef .eael-grid-post .eael-entry-overlay {background-color: rgba(0,0,0,.75);}
.elementor-513 .elementor-element.elementor-element-683d1ef .eael-grid-post .eael-entry-overlay > i {color: #fff;font-size: 18px;}
.elementor-513 .elementor-element.elementor-element-683d1ef .eael-grid-post .eael-entry-overlay > img {height: 18px;width: 18px;}
@media (max-width:1024px) {.elementor-513 .elementor-element.elementor-element-a330443 .swiper-slide {height: 416px;}
	.elementor-msie .elementor-513 .elementor-element.elementor-element-8ce68d7 .elementor-portfolio-item {width: calc(100% / 2);}}
@media (max-width:767px) {.elementor-513 .elementor-element.elementor-element-a330443 .swiper-slide {height: 191px;}
	.elementor-msie .elementor-513 .elementor-element.elementor-element-8ce68d7 .elementor-portfolio-item {width: calc(100% / 1);}}