.elementor-560 .elementor-element.elementor-element-533131d .elementor-posts-container .elementor-post__thumbnail {padding-bottom: calc(.6 * 100%);}
.elementor-560 .elementor-element.elementor-element-533131d:after {content: "0.6";position: absolute;color: transparent;}
.elementor-560 .elementor-element.elementor-element-533131d .elementor-post__thumbnail__link {width: 100%;}
.elementor-560 .elementor-element.elementor-element-533131d .elementor-post__meta-data span + span:before {content: "///";}
.elementor-560 .elementor-element.elementor-element-533131d .elementor-posts-container {grid-column-gap: 10px;grid-row-gap: 20px;}
.elementor-msie .elementor-560 .elementor-element.elementor-element-533131d .elementor-post {padding-right: calc(10px / 2);padding-left: calc(10px / 2);padding-bottom: 20px;}
.elementor-msie .elementor-560 .elementor-element.elementor-element-533131d .elementor-posts-container {margin-left: calc(-10px / 2);margin-right: calc(-10px / 2);}
.elementor-560 .elementor-element.elementor-element-533131d.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {margin-right: 20px;}
.elementor-560 .elementor-element.elementor-element-533131d.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {margin-left: 20px;}
.elementor-560 .elementor-element.elementor-element-533131d.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {margin-bottom: 20px;}
.elementor-560 .elementor-element.elementor-element-533131d .elementor-post__title {margin-bottom: 0px;}
.elementor-560 .elementor-element.elementor-element-533131d .elementor-pagination {text-align: center;}
body:not(.rtl) .elementor-560 .elementor-element.elementor-element-533131d .elementor-pagination .page-numbers:not(:first-child) {margin-left: calc(10px / 2);}
body:not(.rtl) .elementor-560 .elementor-element.elementor-element-533131d .elementor-pagination .page-numbers:not(:last-child) {margin-right: calc(10px / 2);}
body.rtl .elementor-560 .elementor-element.elementor-element-533131d .elementor-pagination .page-numbers:not(:first-child) {margin-right: calc(10px / 2);}
body.rtl .elementor-560 .elementor-element.elementor-element-533131d .elementor-pagination .page-numbers:not(:last-child) {margin-left: calc(10px / 2);}
.elementor-560 .elementor-element.elementor-element-67e118b > .elementor-container {max-width: 1400px;}
.elementor-560 .elementor-element.elementor-element-67e118b {margin-top: 40px;margin-bottom: 0px;}
.elementor-560 .elementor-element.elementor-element-514b3e3e:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-560 .elementor-element.elementor-element-514b3e3e > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #f7f7f7;}
.elementor-560 .elementor-element.elementor-element-514b3e3e > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin: 0px 20px 0px 20px;padding: 80px 80px 80px 80px;}
.elementor-560 .elementor-element.elementor-element-514b3e3e > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-560 .elementor-element.elementor-element-434fda47 > .elementor-container {max-width: 1400px;}
.elementor-560 .elementor-element.elementor-element-434fda47 {margin-top: 0px;margin-bottom: 50px;}
.elementor-560 .elementor-element.elementor-element-33611d9c > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 10px;}
.elementor-560 .elementor-element.elementor-element-33611d9c > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-560 .elementor-element.elementor-element-56577067.elementor-widget-heading .elementor-heading-title {color: #0c0c0c;}
.elementor-560 .elementor-element.elementor-element-56577067 .elementor-heading-title {font-family: "Rubik",Sans-serif;font-size: 45px;font-weight: 400;}
.elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-posts-container .elementor-post__thumbnail {padding-bottom: calc(.8 * 100%);}
.elementor-560 .elementor-element.elementor-element-5a0be78:after {content: "0.8";position: absolute;color: transparent;}
.elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-post__thumbnail__link {width: 100%;}
.elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-posts-container {grid-column-gap: 40px;grid-row-gap: 40px;}
.elementor-msie .elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-post {padding-right: calc(40px / 2);padding-left: calc(40px / 2);padding-bottom: 40px;}
.elementor-msie .elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-posts-container {margin-left: calc(-40px / 2);margin-right: calc(-40px / 2);}
.elementor-560 .elementor-element.elementor-element-5a0be78.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {margin-right: 30px;}
.elementor-560 .elementor-element.elementor-element-5a0be78.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {margin-left: 30px;}
.elementor-560 .elementor-element.elementor-element-5a0be78.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {margin-bottom: 30px;}
.elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-post__title, .elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-post__title a {color: #000;font-family: "Rubik",Sans-serif;font-size: 18px;font-weight: 500;line-height: 1.4em;}
.elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-post__title {margin-bottom: 15px;}
.elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-post__excerpt p {color: rgba(0,0,0,.5);font-family: "Rubik",Sans-serif;font-size: 15px;font-weight: 300;}
@media (max-width:1024px) and (min-width:768px) {.elementor-560 .elementor-element.elementor-element-33611d9c {width: 70%;}}
@media (max-width:1024px) {.elementor-560 .elementor-element.elementor-element-67e118b {margin-top: 100px;margin-bottom: 0px;padding: 0px 50px 0px 50px;}
	.elementor-560 .elementor-element.elementor-element-514b3e3e > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 40px 40px 40px 40px;}
	.elementor-560 .elementor-element.elementor-element-56577067 .elementor-heading-title {font-size: 35px;}}
@media (max-width:767px) {.elementor-560 .elementor-element.elementor-element-533131d .elementor-posts-container .elementor-post__thumbnail {padding-bottom: calc(.5 * 100%);}
	.elementor-560 .elementor-element.elementor-element-533131d:after {content: "0.5";position: absolute;color: transparent;}
	.elementor-560 .elementor-element.elementor-element-533131d .elementor-post__thumbnail__link {width: 100%;}
	.elementor-560 .elementor-element.elementor-element-67e118b {padding: 0px 0px 0px 0px;}
	.elementor-560 .elementor-element.elementor-element-514b3e3e > .elementor-element-populated {padding: 50px 20px 20px 20px;}
	.elementor-560 .elementor-element.elementor-element-56577067 .elementor-heading-title {font-size: 25px;}
	.elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-posts-container .elementor-post__thumbnail {padding-bottom: calc(.5 * 100%);}
	.elementor-560 .elementor-element.elementor-element-5a0be78:after {content: "0.5";position: absolute;color: transparent;}
	.elementor-560 .elementor-element.elementor-element-5a0be78 .elementor-post__thumbnail__link {width: 100%;}}