<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>STI&#8217;s and HIV/AIDS &#8211; Men2Men by OUT</title>
	<atom:link href="http://studio256.gitlab.io/men2men/ufaq-category/stis-and-hiv-aids/feed/" rel="self" type="application/rss+xml" />
	<link>http://studio256.gitlab.io/men2men/</link>
	<description></description>
	<lastBuildDate>Tue, 11 Feb 2020 13:03:57 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
	<item>
		<title>Braam&#8217;s (22) Question: Hi Dr Dick. A friend and I masturbated together. If he ejaculates on my penis, can I get AIDS?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/braams-22-question-hi-dr-dick-a-friend-and-i-masturbated-together-if-he-ejaculates-on-my-penis-can-i-get-aids/</link>
				<pubDate>Tue, 11 Feb 2020 13:03:57 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=698</guid>
				<description><![CDATA[<p>Dr Dick’s response: There is some risk to masturbating your friend. Be aware of any open wounds on your hands, fingers and penis – HIV&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/braams-22-question-hi-dr-dick-a-friend-and-i-masturbated-together-if-he-ejaculates-on-my-penis-can-i-get-aids/">Braam&#8217;s (22) Question: Hi Dr Dick. A friend and I masturbated together. If he ejaculates on my penis, can I get AIDS?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: There is some risk to masturbating your friend. Be aware of any open wounds on your hands, fingers and penis – HIV can be found in bodily fluids including semen (sperm) and can be transmitted through wounds, sores, and openings. An idea is for you and your friend to have a regular HIV test (every 3 to 6 months) and a STI screening to make sure that both of you are safe and enjoy masturbating together without being worried.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/braams-22-question-hi-dr-dick-a-friend-and-i-masturbated-together-if-he-ejaculates-on-my-penis-can-i-get-aids/">Braam&#8217;s (22) Question: Hi Dr Dick. A friend and I masturbated together. If he ejaculates on my penis, can I get AIDS?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Johann&#8217;s (21) Question: I recently had penetrative anal sex with a guy. I was the bottom. He did not use a condom but he pulled out just before he ejaculated? Am I at risk for HIV?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/johanns-21-question-i-recently-had-penetrative-anal-sex-with-a-guy-i-was-the-bottom-he-did-not-use-a-condom-but-he-pulled-out-just-before-he-ejaculated-am-i-at-risk-for-hiv/</link>
				<pubDate>Tue, 11 Feb 2020 13:03:23 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=697</guid>
				<description><![CDATA[<p>Dr Dick’s response: The highest risk for transmission is penetrative anal sex without a condom with ejaculation. Even though he did not ejaculate, there might&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/johanns-21-question-i-recently-had-penetrative-anal-sex-with-a-guy-i-was-the-bottom-he-did-not-use-a-condom-but-he-pulled-out-just-before-he-ejaculated-am-i-at-risk-for-hiv/">Johann&#8217;s (21) Question: I recently had penetrative anal sex with a guy. I was the bottom. He did not use a condom but he pulled out just before he ejaculated? Am I at risk for HIV?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: The highest risk for transmission is penetrative anal sex without a condom with ejaculation. Even though he did not ejaculate, there might still be some risk as HIV is transmitted through bodily fluids such as blood and semen. You might have exposed yourself to other sexually transmitted infections. I would recommend you visit your nearest health facility for an HIV and STI screening.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/johanns-21-question-i-recently-had-penetrative-anal-sex-with-a-guy-i-was-the-bottom-he-did-not-use-a-condom-but-he-pulled-out-just-before-he-ejaculated-am-i-at-risk-for-hiv/">Johann&#8217;s (21) Question: I recently had penetrative anal sex with a guy. I was the bottom. He did not use a condom but he pulled out just before he ejaculated? Am I at risk for HIV?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Kyle&#8217;s (36) Question: Hey Dr D! I often don&#8217;t use condoms during anal sex. Can I still protect myself from HIV-infection?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/kyles-36-question-hey-dr-d-i-often-dont-use-condoms-during-anal-sex-can-i-still-protect-myself-from-hiv-infection/</link>
				<pubDate>Tue, 11 Feb 2020 13:02:50 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=696</guid>
				<description><![CDATA[<p>Dr Dick’s response: If you choose not to use a condom, minimise your risk in the following ways: If you are concerned that you might&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/kyles-36-question-hey-dr-d-i-often-dont-use-condoms-during-anal-sex-can-i-still-protect-myself-from-hiv-infection/">Kyle&#8217;s (36) Question: Hey Dr D! I often don&#8217;t use condoms during anal sex. Can I still protect myself from HIV-infection?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: If you choose not to use a condom, minimise your risk in the following ways:</p>
<ul>
<li>If you are concerned that you might have been exposed to HIV, PEP (Post Exposure Prophylaxis) is an option (PEP is a course of anti-retro-viral medication that is taken within 72 hours after you were potentially exposed to the HI virus to reduce your risk of HIV infection). PEP does have side-effects and is not fool proof form of HIV prevention.</li>
<li>Remember to use lots of water-based lubrication.</li>
<li>If the penetrative partner is positive pull out before ejaculating – this may help reduce the risk of infecting the receptive partner – and consider less rough sex to limit tearing inside the receptive partner. If the receptive partner is positive s/he could ensure s/he is well lubricated, asks the penetrative partner to go slowly at first to minimise tearing or breaks in skin, and limits the duration (time) and intensity (roughness) of the sex.</li>
<li>A lower number of sex partners might reduce your risk.</li>
<li>Try to limit your use of drugs and alcohol during sex so that you are more in control.</li>
<li>If you engage in very high risk sexual activities and you are HIV negative, speak to your doctor about the appropriateness of PrEP (Pre-exposure prophylaxis in the form of an ARV).</li>
</ul>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/kyles-36-question-hey-dr-d-i-often-dont-use-condoms-during-anal-sex-can-i-still-protect-myself-from-hiv-infection/">Kyle&#8217;s (36) Question: Hey Dr D! I often don&#8217;t use condoms during anal sex. Can I still protect myself from HIV-infection?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Joey&#8217;s (24) Question: Halo Dr Dick. I don&#8217;t always use protection when I give my partners a blow job. What is my risk?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/joeys-24-question-halo-dr-dick-i-dont-always-use-protection-when-i-give-my-partners-a-blow-job-what-is-my-risk/</link>
				<pubDate>Tue, 11 Feb 2020 13:01:33 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=695</guid>
				<description><![CDATA[<p>Dr Dick’s response: HIV is spread through body fluids, mainly semen, vaginal secretions and blood. Your risk of contracting HIV from any of those fluids&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/joeys-24-question-halo-dr-dick-i-dont-always-use-protection-when-i-give-my-partners-a-blow-job-what-is-my-risk/">Joey&#8217;s (24) Question: Halo Dr Dick. I don&#8217;t always use protection when I give my partners a blow job. What is my risk?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick’s response: HIV is spread through body fluids, mainly semen, vaginal secretions and blood. Your risk of contracting HIV from any of those fluids is a possibility if they are present during oral sex. Note that even though oral sex is low risk for HIV transmission (in the absence of semen, vaginal secretions and blood), other sexually transmitted infections (STIs) could be transmitted. Condoms remain a method of prevention.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/joeys-24-question-halo-dr-dick-i-dont-always-use-protection-when-i-give-my-partners-a-blow-job-what-is-my-risk/">Joey&#8217;s (24) Question: Halo Dr Dick. I don&#8217;t always use protection when I give my partners a blow job. What is my risk?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Evarish&#8217;s (22) question: I have a question regarding the transmission of HIV, doctor. Me and my partner are negative regarding HIV. So my question is would there be a chance to become HIV positive?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/evarishs-22-question-i-have-a-question-regarding-the-transmission-of-hiv-doctor-me-and-my-partner-are-negative-regarding-hiv-so-my-question-is-would-there-be-a-chance-to-become-hiv-positive/</link>
				<pubDate>Tue, 11 Feb 2020 13:00:59 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=694</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: I assume that you mean both you and your partner are HIV negative. As long as both of you remain HIV negative,&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/evarishs-22-question-i-have-a-question-regarding-the-transmission-of-hiv-doctor-me-and-my-partner-are-negative-regarding-hiv-so-my-question-is-would-there-be-a-chance-to-become-hiv-positive/">Evarish&#8217;s (22) question: I have a question regarding the transmission of HIV, doctor. Me and my partner are negative regarding HIV. So my question is would there be a chance to become HIV positive?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick&#8217;s response: I assume that you mean both you and your partner are HIV negative. As long as both of you remain HIV negative, and you both remain monogamous (neither one of you cheats and has sex with anyone else, except with each other), you cannot become HIV positive. However, the safest option will be for both of you to get tested every three to six months, as we do not have any guarantees that our partners will always be faithful.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/evarishs-22-question-i-have-a-question-regarding-the-transmission-of-hiv-doctor-me-and-my-partner-are-negative-regarding-hiv-so-my-question-is-would-there-be-a-chance-to-become-hiv-positive/">Evarish&#8217;s (22) question: I have a question regarding the transmission of HIV, doctor. Me and my partner are negative regarding HIV. So my question is would there be a chance to become HIV positive?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Kabelo&#8217;s (23) question: I&#8217;m bisexual man. I&#8217;m having a problem which affects my sexual life. This started happening many years ago, but now it happens more often every time after I ejaculate. I get a sharp pain inside my penis near the tip and it becomes very sensitive. This makes me need to go to the toilet for a pee even if I can&#8217;t, which helps a little to ease the pain. When I urinate it hurts a little but not much. It seems that I am only getting this pain after ejaculating and it seems to take a few seconds after before I get it. I have not been to a doctor. If someone could please tell me what else this could be? Is it some sort of STI or infection. Why does it only hurt after ejaculating and does not hurt while masturbating? Why does it not hurt to urinate unless I have ejaculated within the last 30mins or so? Is it possible that I ripped or damaged something between the urethra and the tube that comes up from the prostate or the ejaculation duct?</title>
		<link>http://studio256.gitlab.io/men2men/ufaqs/kabelos-23-question-im-bisexual-man-im-having-a-problem-which-affects-my-sexual-life-this-started-happening-many-years-ago-but-now-it-happens-more-often-every-time-after-i-ejaculate-i-get/</link>
				<pubDate>Tue, 11 Feb 2020 13:00:01 +0000</pubDate>
		<dc:creator><![CDATA[m2madmin]]></dc:creator>
		
		<guid isPermaLink="false">http://studio256.gitlab.io/men2men/?post_type=ufaq&#038;p=691</guid>
				<description><![CDATA[<p>Dr Dick&#8217;s response: It is very difficult to tell you exactly what the problem could be if I haven’t examined you. I would suggest that&#8230;</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/kabelos-23-question-im-bisexual-man-im-having-a-problem-which-affects-my-sexual-life-this-started-happening-many-years-ago-but-now-it-happens-more-often-every-time-after-i-ejaculate-i-get/">Kabelo&#8217;s (23) question: I&#8217;m bisexual man. I&#8217;m having a problem which affects my sexual life. This started happening many years ago, but now it happens more often every time after I ejaculate. I get a sharp pain inside my penis near the tip and it becomes very sensitive. This makes me need to go to the toilet for a pee even if I can&#8217;t, which helps a little to ease the pain. When I urinate it hurts a little but not much. It seems that I am only getting this pain after ejaculating and it seems to take a few seconds after before I get it. I have not been to a doctor. If someone could please tell me what else this could be? Is it some sort of STI or infection. Why does it only hurt after ejaculating and does not hurt while masturbating? Why does it not hurt to urinate unless I have ejaculated within the last 30mins or so? Is it possible that I ripped or damaged something between the urethra and the tube that comes up from the prostate or the ejaculation duct?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></description>
								<content:encoded><![CDATA[<p>Dr Dick&#8217;s response: It is very difficult to tell you exactly what the problem could be if I haven’t examined you. I would suggest that you consult with another doctor to get a second opinion. There are numerous things that could be causing the pain you are experiencing. A full STI screening would have to be done and we have to rule out that you don’t have any urethral defect or most importantly a problem with your sperm duct. An infection could also cause you to have that sharp pain when you ejaculate. The best possible doctor for you to consult with regarding this matter would be an urologist.</p>
<p>You may want to contact OUT&#8217;s gay-friendly clinic if you are in the Pretoria / Gauteng area (<a href="http://www.out.org.za/index.php/what-s-hot/services/56-out-clinic" target="_blank" rel="noopener noreferrer">click here</a>). Or you may want to have a look at other gay-friendly clinics around South Africa, which you can find <a href="http://www.h4m.mobi/find-a-clinic.php" target="_blank" rel="noopener noreferrer">here</a>.</p>
<p>The post <a rel="nofollow" href="http://studio256.gitlab.io/men2men/ufaqs/kabelos-23-question-im-bisexual-man-im-having-a-problem-which-affects-my-sexual-life-this-started-happening-many-years-ago-but-now-it-happens-more-often-every-time-after-i-ejaculate-i-get/">Kabelo&#8217;s (23) question: I&#8217;m bisexual man. I&#8217;m having a problem which affects my sexual life. This started happening many years ago, but now it happens more often every time after I ejaculate. I get a sharp pain inside my penis near the tip and it becomes very sensitive. This makes me need to go to the toilet for a pee even if I can&#8217;t, which helps a little to ease the pain. When I urinate it hurts a little but not much. It seems that I am only getting this pain after ejaculating and it seems to take a few seconds after before I get it. I have not been to a doctor. If someone could please tell me what else this could be? Is it some sort of STI or infection. Why does it only hurt after ejaculating and does not hurt while masturbating? Why does it not hurt to urinate unless I have ejaculated within the last 30mins or so? Is it possible that I ripped or damaged something between the urethra and the tube that comes up from the prostate or the ejaculation duct?</a> appeared first on <a rel="nofollow" href="http://studio256.gitlab.io/men2men/">Men2Men by OUT</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
